@charset "UTF-8";



/*****************************************
* 会社案内
******************************************/
.box_3 ul li img{ /* 画像サイズ */
  width:200px;
}

.box_3 ul li{ /* ボックスサイズ */
  width:210px;  margin-right:10px;
}
.box_3 ul li h4{ /* H4タイトル */
  background-color:#444;
  color:#fff;padding:3px 0;
}

.side_2{width:46%;
padding:3px;
margin-right:13px;
margin-bottom:13px;
}




/*****************************************
* 会社沿革（仮）
******************************************/
div.year{
font-weight:bold;
font-size:15px;
}
#main_contents .enkaku table{
margin:5px 0 5px 10px;
width:95%;
}
#main_contents .enkaku table th{width:15%;}
#main_contents .enkaku table th,
#main_contents .enkaku table td{
vertical-align:top;
}