@charset "utf-8";

*{margin:0;padding:0;}

html{background:#f0eee6s;}

body {
font: 14px/1.5 "Times New Roman", "游明朝", YuMincho,"ヒラギノ明朝 Pr6 W6","Hiragino Mincho Pro", "HGS明朝E","メイリオ", "ＭＳ Ｐ明朝","MS PMincho",Meiryo, serif;
color:#333;
background:#F2EBD1 url(../image/body_bg.png) repeat-y top center;
}
#main_contents {
font: 18px/1.5 "メイリオ", "Times New Roman", "游明朝", YuMincho,"ヒラギノ明朝 Pr6 W6","Hiragino Mincho Pro", "HGS明朝E","ＭＳ Ｐ明朝","MS PMincho",Meiryo, serif;
}
#top #main_contents {
font: 14px/1.5 "Times New Roman", "游明朝", YuMincho,"ヒラギノ明朝 Pr6 W6","Hiragino Mincho Pro", "HGS明朝E","メイリオ", "ＭＳ Ｐ明朝","MS PMincho",Meiryo, serif;
}

a{color:#5D3B24;}
a:hover{color:#B27F46;text-decoration:none;}
a:active, a:focus {outline: 0;}
img{border:0;}
.clear{clear:both;}
p{margin-bottom: 10px;}
.center{text-align:center;}
.right{text-align:right;}

/* clearfix */
.cf:before{
content:"";
display: table;
}
.cf:after{
content:"";
display: table;
clear:both;
}
.cf{
*zoom:1;
}

/* opCity */
a:hover img{
filter:alpha(opacity=75); /*IE*/
-moz-opacity:0.75; /*FF*/
opacity:0.75;
}

/*******************************
hotpepperから抜粋
********************************/
.reserveConditionTable {
	margin-top: 5px;
	position: relative;
	z-index: 1;
	left:10%
}
.innerTable {
	border: solid #BFB9B0;
	border-spacing: 0;
	border-width: 0 1px 1px 1px;
	box-sizing: border-box;
	width: 80%;
}
.innerTable > tbody > tr > th + th {
	border-left: 1px solid #BFB9B0;
}
.coverTable {
	background-color: #F5F3EF;
	border-bottom: #DDDDDD solid 1px;
	border-left: #DDDDDD solid 1px;
	border-right: #DDDDDD solid 1px;
	display: block;
	padding: 5px;
}
.innerCol,
.telCol,
.closeCol {
	box-sizing: border-box;
	text-align: center;
	width: 42px;
}
.telCol,
.closeCol {
	background-color: #FFFFFF;
	border: solid #BFB9B0;
	border-width: 1px 0 0 0;
}
.closeCol {
	background-color: #EEEEEE;
}
.telColInner,
.closeColInner {
	position: relative;
}
.telColText,
.closeColText {
	left: 50%;
	position: absolute;
	top: 0%;
	-webkit-transform: translate(-30%, -65%);
	transform: translate(-30%, -65%);
}
.telColText {
	letter-spacing: 2px;
}
.closeColText {
	letter-spacing: 10px;
}
.timeCell {
	background-color: #F6F6F6;
	border-top: 1px solid #BFB9B0;
	font-size: 11px;
	height: 35px;
	line-height: 35px;
	width: 100%;
}
.timeCell.timeSharpLine {
	font-size: 13px;
}
.weekPaging {
	background-color: #FFFFFF;
	border: solid #BFB9B0;
	border-width: 1px 0 1px 0;
	font-weight: bold;
	text-align: center;
}
.monthCell {
	border-top: 1px solid #BFB9B0;
	height: 38px;
	text-align: center;
}
.timeTableLeft .timeCell {
	text-align: right;
	padding-right: 40px;
}
.timeTableRight .timeCell {
	text-align: left;
	padding-left: 40px;
}
.closeCell,
.openCell,
.telCell {
	border: solid #BFB9B0;
	border-width: 1px 0 0 0;
	height: 35px;
	text-align: center;
	width: auto;
}
.closeCellToday {
	background-color: #EEEEEE;
	-webkit-transition: background-color 0.1s;
	transition: background-color 0.1s;
}
.closeCellToday{
	border: solid #BFB9B0;
	border-width: 1px 0 0 0;
	height: 35.6px;
	text-align: center;
	width: auto;
}
.dayCell,
.sat,
.sun {
	border: solid #BFB9B0;
	border-width: 1px 0 1px 1px;
	box-sizing: border-box;
	height: 45px;
	text-align: center;
	width: 42px;
}
.sat {
	background-color: #D9E3EC;
	color: #4466BB;
}
.sun {
	background-color: #EEDDD9;
	color: #BB5555;
}
.closeCell {
	background-color: #EEEEEE;
	-webkit-transition: background-color 0.1s;
	transition: background-color 0.1s;
}
.openCell {
	background-color: #FFFFFF;
	-webkit-transition: background-color 0.1s;
	transition: background-color 0.1s;
}
.moreInnerTable tr:not(:first-child) > .timeSharpLine {
	border-top: 2px solid #BFB9B0;
}
.moreInnerTable tr:last-child > .timeCell {
	border-bottom : none;
}
.moreInnerTable {
	border: 0 none;
	border-collapse: collapse;
	width: 100%;
	border-spacing: 0;
	padding: 0;
	margin: 0;
}
.openCell > .icnOpen {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
	width: auto;
}
.openCell > .icnOpen:hover {
	background-color: #FCDBE3;
	text-decoration: none;
}
.openCell > span.icnOpen:hover {
	background-color: #FFFFFF;
}
.openCell > .icnOpen::before,
.openCell > .icnOpen::after {
	border: 1px solid #CC4466;
	border-radius: 100px;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
}
.openCell > .icnOpen::before {
	height: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 14px;
}
.openCell > .icnOpen::after {
	height: 8px;
	top: 50%;
	-webkit-transform: translate(5%,-50%);
	-ms-transform: translate(5%,-50%);
	transform: translate(5%,-50%);
	width: 8px;
}
.temporaryReserve .icnOpen::after {
	display: none;
}
.closeCell > .icnClose {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
	width: auto;
}
.closeCell > .icnClose::before,
.closeCell > .icnClose::after {
	background: #333333;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 16px;
	width: 10px;
}
.closeCell > .icnClose::before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.closeCell > .icnClose::after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.weekPaging > .arrowPagingWeekROff,
.weekPaging > .arrowPagingWeekR,
.weekPaging > .arrowPagingWeekLOff,
.weekPaging > .arrowPagingWeekL {
	position: relative;
}
.weekPaging > .arrowPagingWeekROff:before,
.weekPaging > .arrowPagingWeekR:before,
.weekPaging > .arrowPagingWeekLOff:before,
.weekPaging > .arrowPagingWeekL:before {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	position: absolute;
	content: '';
	background-repeat: no-repeat;
	width: 0;
	height: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.weekPaging > .arrowPagingWeekROff,
.weekPaging > .arrowPagingWeekLOff {
	color: #CCCCCC;
}
.weekPaging > .arrowPagingWeekROff:before {
	border-left: 4px solid #CCCCCC;
	right: 0;
}
.weekPaging > .arrowPagingWeekR:before {
	border-left: 4px solid #D36985;
	right: 0;
}
.weekPaging > .arrowPagingWeekLOff:before {
	border-right: 4px solid #CCCCCC;
	left: 0;
}
.weekPaging > .arrowPagingWeekL:before {
	border-right: 4px solid #D36985;
	left: 0;
}

/*********************
予約済み 済
*********************/
.closeCell > .icnCloseOwn{
	display: block;
	height: 100%;
	line-height: 35px;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
	width: auto;
}
.closeCell > .icnCloseOwn::before,
.closeCell > .icnCloseOwn::after {
	content: "";
	display: block;
	left: 0;
	margin: auto;
	right: 0;
	top: 16px;
	width: 10px;
}
.closeCell > .icnCloseOwn::before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.closeCell > .icnCloseOwn::after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*******************************
予約　※
*******************************/
.closeCell > .icnCloseToday {
	display: block;
	height: 100%;
	line-height: 35px;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
	width: auto;
}
.closeCell > .icnCloseToday::before,
.closeCell > .icnCloseToday::after {
	content: "";
	display: block;
	left: 0;
	margin: auto;
	right: 0;
	top: 16px;
	width: 10px;
}
.closeCell > .icnCloseToday::before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.closeCell > .icnCloseToday::after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*******************************
全体幅
*******************************/
#contents, .inner, #footpath, #navi{
margin: 0 auto;
width: 960px;
}

/*******************************
/* ヘッダー
*******************************/
#header_contents{
background:url(../image/bg01.png) repeat;
border-bottom:#ddd solid 1px;
font-family:"メイリオ","Meiryo",arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

#header_contents .inner{
position:relative;
height:150px;
}

#header_contents h1,#header_contents h2,#header_contents ul#mainnav,#header_contents ul#mainnav2, #header_contents p{
position:absolute;
}

#header_contents h1{
font-size:11px;
font-weight:normal;
color:#5D3A24;
line-height:16px;
top:0;
left:0;
}

#header_contents h2{
top:30px;
left:0;
}
#header_contents h2 a:hover img{
filter:alpha(opacity=100); /*IE*/
-moz-opacity:1; /*FF*/
opacity:1;
}

#header_contents p.sitemap{
line-height:16px;
font-size:11px;
line-height:16px;
top:0;
right:0;
padding-left:10px;
background:url(../image/arrow01.png) no-repeat 0 5px;
}
#header_contents p.sitemap a{
color:#5D3A24;
text-decoration:none;
}
#header_contents p.sitemap a:hover{
text-decoration:underline;
}

#header_contents p.info{
top:30px;
right:0;
}


/************************************
/* メインナビゲーション
************************************/
ul#mainnav{
position: absolute;
top:88px;
width: 960px;
height: 60px;
}

ul#mainnav li{float:left;list-style:none;}

ul#mainnav a{
text-indent: -9999px;
text-decoration: none;
display: block;
height: 60px;
background:url(../image/mainnav1.png) no-repeat 0 0;
}

ul#mainnav a#home{background-position:0 0; width:85px;}
ul#mainnav a#menu1{background-position:-85px 0; width:88px;}
ul#mainnav a#menu2{background-position:-173px 0; width:133px;}
ul#mainnav a#menu3{background-position:-306px 0; width:128px;}
ul#mainnav a#menu4{background-position:-434px 0; width:149px;}
ul#mainnav a#menu5{background-position:-583px 0; width:137px;}
ul#mainnav a#menu6{background-position:-720px 0; width:95px;}
ul#mainnav a#menu7{background-position:-815px 0; width:145px;}

ul#mainnav a#home:hover, ul#mainnav li.active a#home{background-position:0 -60px;}
ul#mainnav a#menu1:hover, ul#mainnav li.active a#menu1{background-position:-85px -60px;}
ul#mainnav a#menu2:hover, ul#mainnav li.active a#menu2{background-position:-173px -60px;}
ul#mainnav a#menu3:hover, ul#mainnav li.active a#menu3{background-position:-306px -60px;}
ul#mainnav a#menu4:hover, ul#mainnav li.active a#menu4{background-position:-434px -60px;}
ul#mainnav a#menu5:hover, ul#mainnav li.active a#menu5{background-position:-583px -60px;}
ul#mainnav a#menu6:hover, ul#mainnav li.active a#menu6{background-position:-720px -60px;}
ul#mainnav a#menu7:hover, ul#mainnav li.active a#menu7{background-position:-815px -60px;}



ul#mainnav2{
position: absolute;
top:88px;
width: 960px;
height: 60px;
}

ul#mainnav2 li{float:left;list-style:none;}

ul#mainnav2 a{
text-indent: -9999px;
text-decoration: none;
display: block;
height: 60px;
background:url(../image/mainnav2.png) no-repeat 0 0;
}

ul#mainnav2 a#home{background-position:0 0; width:85px;}
ul#mainnav2 a#menu1{background-position:-85px 0; width:88px;}
ul#mainnav2 a#menu2{background-position:-173px 0; width:133px;}
ul#mainnav2 a#menu3{background-position:-306px 0; width:128px;}
ul#mainnav2 a#menu4{background-position:-434px 0; width:149px;}
ul#mainnav2 a#menu5{background-position:-583px 0; width:137px;}
ul#mainnav2 a#menu6{background-position:-720px 0; width:95px;}
ul#mainnav2 a#menu7{background-position:-815px 0; width:145px;}

ul#mainnav2 a#home:hover, ul#mainnav2 li.active a#home{background-position:0 -60px;}
ul#mainnav2 a#menu1:hover, ul#mainnav2 li.active a#menu1{background-position:-85px -60px;}
ul#mainnav2 a#menu2:hover, ul#mainnav2 li.active a#menu2{background-position:-173px -60px;}
ul#mainnav2 a#menu3:hover, ul#mainnav2 li.active a#menu3{background-position:-306px -60px;}
ul#mainnav2 a#menu4:hover, ul#mainnav2 li.active a#menu4{background-position:-434px -60px;}
ul#mainnav2 a#menu5:hover, ul#mainnav2 li.active a#menu5{background-position:-583px -60px;}
ul#mainnav2 a#menu6:hover, ul#mainnav2 li.active a#menu6{background-position:-720px -60px;}
ul#mainnav2 a#menu7:hover, ul#mainnav2 li.active a#menu7{background-position:-815px -60px;}


/*******************************
メイン画像
*******************************/
.imgArea{
}


/*******************************
コンテンツ位置
*******************************/
#contents{
padding: 0 0 40px;
background:#fff;
border-left:#FEFDFB solid 5px;
border-right:#FEFDFB solid 5px;
}
#footpath{
margin-top:0!important;
padding-top:15px!important;
background:#fff;
border-left:#FEFDFB solid 5px;
border-right:#FEFDFB solid 5px;
}
#wrap_contents:before{
content:"";
display: table;
}
#wrap_contents:after{
content:"";
display: table;
clear:both;
}
#wrap_contents{
*zoom:1;
}


#main_contents {
float: left;
width: 695px;
padding:15px 10px 30px;
}

#side_contents_left {
float: right;
width: 220px;
padding:15px 5px 40px 0;
}


/*************************
/* ボックスの囲み
/* .boxContainer
/* 背景画像でボックスの高さを調整
/*
/* 各ボックス
/* .box1 1番目の2つのbox
/* .box2 2番目の3つのbox（画像）
/* .box3 3番目の2つのbox
/* .box4 4,5番目の1つのbox
/* #side_contents_left .box1 サイドバーのbox
*************************/
.boxContainer{
width:695px;
margin:0 auto 20px;
background:url(/files/user/img/box1.gif) 0 100%;
}

.box1,.box2, .box3, .box4{
float: left;
width: 225px;
margin: 0 10px 20px 0;

}

.box1, .box3, .box4{
width:327px;
margin:0 20px 0 0;
padding: 10px 5px;
}

.box2{
margin-right:10px;
}

.box3{
width:337px;
padding:0 0 10px;

}

.box4{
margin:0 0 20px 0;
padding:0;
width:695px;
}

/* 最後のbox */
.last{margin-right:0 !important;}


/* 画像を中央表示 */
.box1 .center{padding-bottom:10px;}

/* 画像を左に回りこみ */
.box4 img{
float:left;
margin: 0 10px 10px;
}

.box4 h4 img{float:none;margin:0 0 10px;}

.box4 p{padding: 0 10px 10px;}



#date {
text-align: right;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 10px;
font-weight:bold;
color:#a9a9a9;
}

#next {
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignright {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline;
}
img.alignleft {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}

.box_img_border{
   border: 2px solid #a9a9a9;
   padding: 1px;
  margin: 1px;
}


/*************
/* 見出し
*************/
.box3 h4{margin-bottom:10px;}

#wrap_contents h3{
margin-bottom:15px;
padding-bottom:5px;
color: #313131;
font-weight: normal;
border-bottom: 1px dotted  #1c1b18;
}
#side_contents_left h3{
border-bottom:none;
margin-bottom:0px;
padding-bottom:0;
}

#wrap_contents h2{
padding: 11px 5px 11px 40px;
margin-bottom:15px;
line-height:18px;
font-size: 18px;
font-weight: normal;
color:#5D3B24;
background:url(../image/h2Bg.png) no-repeat 0 100%;
margin-left:-10px;
}

#wrap_contents .box4 h3{
padding: 7px 5px;
}


/*************
/* リスト
*************/
#wrap_contents ul{margin-left: 5px;}

#wrap_contents ul li{
list-style: none;
margin-bottom: 8px;
padding: 0 5px 0 10px;
background:url(../image/arrow01.png) no-repeat 0 7px;
}


#wrap_contents .box3 ul{padding: 0 5px;}

#side_contents_left ul{margin-left:3px;}


/*************
ページ別設定
*************/
/*--- /(トップ) ---*/
/* .top_msg */
.top_msg{
text-align:center;
padding-bottom:30px;
margin-bottom:50px;
background:url(../image/top_area01_bg.png) no-repeat bottom center;
}
.top_msg h2{
background:none !important;
margin:0 0 25px !important;
padding:0 !important;
}
.top_msg p{
font-size:17px;
padding-bottom:45px;
}

/* .top_pick-up */
.top_pick-up h2{
background:none !important;
margin:0 0 25px 0 !important;
padding:0 !important;
}


/*************
サイド（右側）コンテンツ
*************/
#side_contents_left ul{
margin-bottom:20px;
padding:0 10px;
}
#side_contents_left p{padding:10px 0;}


/*******************************
/* フッター
*******************************/
#footer_contents{
clear:both;
overflow: hidden;
background:url(../image/bg01.png) repeat;
}

#footer_contents .inner{
padding: 25px 0;
}
#footer_contents .inner .info{
width:420px;
float:left;
}
#footer_contents .inner .info strong{
display:block;
margin-bottom:20px;
}
#footer_contents .inner .info strong a:hover img{
filter:alpha(opacity=100); /*IE*/
-moz-opacity:1; /*FF*/
opacity:1;
}
#footer_contents .inner .info p{
color:#3F1F00;
}
#footer_contents .inner ul{
float:right;
width:540px;
}
#footer_contents .inner ul li{
float:left;
width:25%;
list-style:none;
padding:7px 0;
}
#footer_contents .inner ul li a{
text-decoration:none;
background:url(../image/arrow01.png) no-repeat 0 5px;
padding-left:10px;
}
#footer_contents .inner ul li a:hover{

}

#footer_contents address{
color: #fff;
font-style:normal;
font-size:13px;
display:block;
background:#5D3B24;
clear:both;
line-height:40px;
text-align:center;
}

/* アクセス */
#tbox81 .tbox_side_out {
    margin-bottom:20px;
}

/* レッスンコース */
.btn a {
    float:right;
}

/* 料金 */
#price table.des {
    width:50%!important;
    margin-left:0!important;
}
#price table.des th, #price table.des td {
    width:50%;
    text-align:center!important;
}

/* スタッフ */
#main_contents .staff {
    margin-bottom:40px;
}
#main_contents .staff .img {
    float:left;
    margin-right:20px;
}
#main_contents .staff table.des {
    float:right;
    width:440px;
    margin-top:0;
}