@charset "UTF-8";
/*----------------------------------------------------------------------
ファイル名：def.css
内容：ページ基本設定、初期設定

xxxx.xx.xx ver1.0
2016.02.05 ver1.1 PC、スマホでCSSを一本化(Gomi)
----------------------------------------------------------------------*/


/* CSS
******************************************************************/
.clear, .clr,#bottom_contents {clear:both!important;}
/* For modern browsers */
.clearfix:before,.clearfix:after,
#wrap_contents:before,#wrap_contents:after{content:"";display:table;}
.clearfix:after,#wrap_contents:after {clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.clearfix,#wrap_contents {zoom:1;}

.center{ text-align: center!important;}
.left{ text-align: left!important;}
.right{ text-align: right!important;}

.floatL{ float: left!important;}
.floatR{ float: right!important;}

.ovh{overflow:hidden;}
.b{font-weight:bold;}
.big{font-size:130px;font-weight:bold;}
.color_red{color:#c52d2d;font-weight:bold;}

.sml{font-size:80%!important;}
.normal{font-weight:normal!important;}

ul li{list-style-type:none!important;}


/*------------------------------------------------------------
	SP template
------------------------------------------------------------*/
@media screen and (max-width : 980px){
	html,body {padding:0;margin:0;}
	body{word-wrap:break-word;}
	img{max-width:100%;border:0;}
	ul li{list-style-type:none!important;}
	table{
		word-break:break-all;
		border: none;
		border-collapse: collapse;
	}
}

/* Font-size */
@media screen and (max-width : 640px){
    html{ font-size : 81.25%;}
}
@media screen and (max-width : 600px){
    html{ font-size : 76.171875%;}
}
@media screen and (max-width : 560px){
    html{ font-size : 71.09375%;}
}
@media screen and (max-width : 520px){
    html{ font-size : 66.015625%;}
}
@media screen and (max-width : 480px){
    html{ font-size : 60.9375%;}
}
@media screen and (max-width : 440px){
    html{ font-size : 55.859375%;}
}
@media screen and (max-width : 400px){
    html{ font-size : 50.78125%;}
}
@media screen and (max-width : 360px){
    html{ font-size : 45.703125%;}
}
@media screen and (max-width : 320px){
    html{ font-size : 40.625%;}
}
@media screen and (max-width : 280px){
    html{ font-size : 35.546875%;}
}
@media screen and (max-width : 240px){
    html{ font-size : 30.46875%;}
}

/* MARGIN(rem) */
.mT1rem	{ margin-top: 1rem!important; }
.mT2rem	{ margin-top: 2rem!important; }
.mT3rem	{ margin-top: 3rem!important; }

.mR1rem	{ margin-right: 1rem!important; }
.mR2rem	{ margin-right: 2rem!important; }
.mR3rem	{ margin-right: 3rem!important; }

.mL1rem	{ margin-left: 1rem!important; }
.mL2rem	{ margin-left: 2rem!important; }
.mL3rem	{ margin-left: 3rem!important; }

.mB1rem	{ margin-bottom: 1rem!important; }
.mB2rem	{ margin-bottom: 2rem!important; }
.mB3rem	{ margin-bottom: 3rem!important; }


/* MARGIN(px) */
.mT5	{ margin-top: 5px!important; }
.mT10	{ margin-top: 10px!important; }
.mT15	{ margin-top: 15px!important; }
.mT20	{ margin-top: 20px!important; }
.mT25	{ margin-top: 25px!important; }
.mT30	{ margin-top: 30px!important; }
.mT35	{ margin-top: 35px!important; }
.mT40	{ margin-top: 40px!important; }
.mT45	{ margin-top: 45px!important; }
.mT50	{ margin-top: 50px!important; }
.mT55	{ margin-top: 55px!important; }
.mT60	{ margin-top: 60px!important; }
.mT65	{ margin-top: 65px!important; }
.mT70	{ margin-top: 70px!important; }
.mT75	{ margin-top: 75px!important; }
.mT80	{ margin-top: 80px!important; }
@media screen and (max-width : 640px){
.mT55, .mT60, .mT65, .mT70, .mT75, .mT80 { margin-top: 50px!important; }
}

.mR5	{ margin-right: 5px!important; }
.mR10	{ margin-right: 10px!important; }
.mR15	{ margin-right: 15px!important; }
.mR20	{ margin-right: 20px!important; }
.mR25	{ margin-right: 25px!important; }
.mR30	{ margin-right: 30px!important; }
.mR35	{ margin-right: 35px!important; }
.mR40	{ margin-right: 40px!important; }
.mR45	{ margin-right: 45px!important; }
.mR50	{ margin-right: 50px!important; }
.mR55	{ margin-right: 55px!important; }
.mR60	{ margin-right: 60px!important; }
.mR65	{ margin-right: 65px!important; }
.mR70	{ margin-right: 70px!important; }
.mR75	{ margin-right: 75px!important; }
.mR80	{ margin-right: 80px!important; }
@media screen and (max-width : 640px){
.mR25, .mR30, .mR35, .mR40, .mR45, .mR50, .mR55, .mR60, .mR65, .mR70, .mR75, .mR80 { margin-right: 20px!important; }
}

.mL5	{ margin-left: 5px!important; }
.mL10	{ margin-left: 10px!important; }
.mL15	{ margin-left: 15px!important; }
.mL20	{ margin-left: 20px!important; }
.mL25	{ margin-left: 25px!important; }
.mL30	{ margin-left: 30px!important; }
.mL35	{ margin-left: 35px!important; }
.mL40	{ margin-left: 40px!important; }
.mL45	{ margin-left: 45px!important; }
.mL50	{ margin-left: 50px!important; }
.mL55	{ margin-left: 55px!important; }
.mL60	{ margin-left: 60px!important; }
.mL65	{ margin-left: 65px!important; }
.mL70	{ margin-left: 70px!important; }
.mL75	{ margin-left: 75px!important; }
.mL80	{ margin-left: 80px!important; }
@media screen and (max-width : 640px){
.mL25, .mL30, .mL35, .mL40, .mL45, .mL50, .mL55, .mL60, .mL65, .mL70, .mL75, .mL80 { margin-left: 20px!important; }
}

.mB5	{ margin-bottom: 5px!important; }
.mB10	{ margin-bottom: 10px!important; }
.mB15	{ margin-bottom: 15px!important; }
.mB20	{ margin-bottom: 20px!important; }
.mB25	{ margin-bottom: 25px!important; }
.mB30	{ margin-bottom: 30px!important; }
.mB35	{ margin-bottom: 35px!important; }
.mB40	{ margin-bottom: 40px!important; }
.mB45	{ margin-bottom: 45px!important; }
.mB50	{ margin-bottom: 50px!important; }
.mB55	{ margin-bottom: 55px!important; }
.mB60	{ margin-bottom: 60px!important; }
.mB65	{ margin-bottom: 65px!important; }
.mB70	{ margin-bottom: 70px!important; }
.mB75	{ margin-bottom: 75px!important; }
.mB80	{ margin-bottom: 80px!important; }
@media screen and (max-width : 640px){
.mB55, .mB60, .mB65, .mB70, .mB75, .mB80 { margin-bottom: 50px!important; }
}

.mV5	{ margin-top: 5px!important; margin-bottom: 5px!important; }
.mV10	{ margin-top: 10px!important; margin-bottom: 10px!important; }
.mV15	{ margin-top: 15px!important; margin-bottom: 15px!important; }
.mV20	{ margin-top: 20px!important; margin-bottom: 20px!important; }
.mV25	{ margin-top: 25px!important; margin-bottom: 25px!important; }
.mV30	{ margin-top: 30px!important; margin-bottom: 30px!important; }
.mV35	{ margin-top: 35px!important; margin-bottom: 35px!important; }
.mV40	{ margin-top: 40px!important; margin-bottom: 40px!important; }
.mV45	{ margin-top: 45px!important; margin-bottom: 45px!important; }
.mV50	{ margin-top: 50px!important; margin-bottom: 50px!important; }

.mH5	{ margin-left: 5px!important; margin-right: 5px!important; }
.mH10	{ margin-left: 10px!important; margin-right: 10px!important; }
.mH15	{ margin-left: 15px!important; margin-right: 15px!important; }
.mH20	{ margin-left: 20px!important; margin-right: 20px!important; }
.mH25	{ margin-left: 25px!important; margin-right: 25px!important; }
.mH30	{ margin-left: 30px!important; margin-right: 30px!important; }
.mH35	{ margin-left: 35px!important; margin-right: 35px!important; }
.mH40	{ margin-left: 40px!important; margin-right: 40px!important; }
.mH45	{ margin-left: 45px!important; margin-right: 45px!important; }
.mH50	{ margin-left: 50px!important; margin-right: 50px!important; }
@media screen and (max-width : 640px){
.mH25, .mH30, .mH35, .mH40, .mH45, .mH50 { margin-left: 20px!important; margin-right: 20px!important; }
}

.m5	{ margin: 5px!important;}
.m10	{margin:10px!important;}
.m15	{margin:15px!important;}
.m20	{margin:20px!important;}
.m25	{margin:25px!important;}
.m30	{margin:30px!important;}
.m35	{margin:35px!important;}
.m40	{margin:40px!important;}
.m45	{margin:45px!important;}
.m50	{margin:50px!important;}
@media screen and (max-width : 640px){
.m25, .m30, .m35, .m40, .m45, .m50 {margin:20px!important;}
}

.mHA	{ margin-left: auto!important; margin-right: auto!important; }


/* PADDING(rem) */
.pT1rem	{ padding-top: 1rem!important; }
.pT2rem	{ padding-top: 2rem!important; }
.pT3rem	{ padding-top: 3rem!important; }

.pR1rem	{ padding-right: 1rem!important; }
.pR2rem	{ padding-right: 2rem!important; }
.pR3rem	{ padding-right: 3rem!important; }

.pL1rem	{ padding-left: 1rem!important; }
.pL2rem	{ padding-left: 2rem!important; }
.pL3rem	{ padding-left: 3rem!important; }

.pB1rem	{ padding-bottom: 1rem!important; }
.pB2rem	{ padding-bottom: 2rem!important; }
.pB3rem	{ padding-bottom: 3rem!important; }


/* PADDING(px) */
.pT5	{ padding-top: 5px!important; }
.pT10	{ padding-top: 10px!important; }
.pT15	{ padding-top: 15px!important; }
.pT20	{ padding-top: 20px!important; }
.pT25	{ padding-top: 25px!important; }
.pT30	{ padding-top: 30px!important; }
.pT35	{ padding-top: 35px!important; }
.pT40	{ padding-top: 40px!important; }
.pT45	{ padding-top: 45px!important; }
.pT50	{ padding-top: 50px!important; }
.pT55	{ padding-top: 55px!important; }
.pT60	{ padding-top: 60px!important; }
.pT65	{ padding-top: 65px!important; }
.pT70	{ padding-top: 70px!important; }
.pT75	{ padding-top: 75px!important; }
.pT80	{ padding-top: 80px!important; }
@media screen and (max-width : 640px){
.pT55, .pT60, .pT65, .pT70, .pT75, .pT80 { padding-top: 50px!important; }
}

.pR5	{ padding-right: 5px!important; }
.pR10	{ padding-right: 10px!important; }
.pR15	{ padding-right: 15px!important; }
.pR20	{ padding-right: 20px!important; }
.pR25	{ padding-right: 25px!important; }
.pR30	{ padding-right: 30px!important; }
.pR35	{ padding-right: 35px!important; }
.pR40	{ padding-right: 40px!important; }
.pR45	{ padding-right: 45px!important; }
.pR50	{ padding-right: 50px!important; }
.pR55	{ padding-right: 55px!important; }
.pR60	{ padding-right: 60px!important; }
.pR65	{ padding-right: 65px!important; }
.pR70	{ padding-right: 70px!important; }
.pR75	{ padding-right: 75px!important; }
.pR80	{ padding-right: 80px!important; }
@media screen and (max-width : 640px){
.pR25, .pR30, .pR35, .pR40, .pR45, .pR50, .pR55, .pR60, .pR65, .pR70, .pR75, .pR80 { padding-right: 20px!important; }
}

.pL5	{ padding-left: 5px!important; }
.pL10	{ padding-left: 10px!important; }
.pL15	{ padding-left: 15px!important; }
.pL20	{ padding-left: 20px!important; }
.pL25	{ padding-left: 25px!important; }
.pL30	{ padding-left: 30px!important; }
.pL35	{ padding-left: 35px!important; }
.pL40	{ padding-left: 40px!important; }
.pL45	{ padding-left: 45px!important; }
.pL50	{ padding-left: 50px!important; }
.pL55	{ padding-left: 55px!important; }
.pL60	{ padding-left: 60px!important; }
.pL65	{ padding-left: 65px!important; }
.pL70	{ padding-left: 70px!important; }
.pL75	{ padding-left: 75px!important; }
.pL80	{ padding-left: 80px!important; }
@media screen and (max-width : 640px){
.pL25, .pL30, .pL35, .pL40, .pL45, .pL50, .pL55, .pL60, .pL65, .pL70, .pL75, .pL80 { padding-left: 20px!important; }
}

.pB5	{ padding-bottom: 5px!important; }
.pB10	{ padding-bottom: 10px!important; }
.pB15	{ padding-bottom: 15px!important; }
.pB20	{ padding-bottom: 20px!important; }
.pB25	{ padding-bottom: 25px!important; }
.pB30	{ padding-bottom: 30px!important; }
.pB35	{ padding-bottom: 35px!important; }
.pB40	{ padding-bottom: 40px!important; }
.pB45	{ padding-bottom: 45px!important; }
.pB50	{ padding-bottom: 50px!important; }
.pB55	{ padding-bottom: 55px!important; }
.pB60	{ padding-bottom: 60px!important; }
.pB75	{ padding-bottom: 65px!important; }
.pB70	{ padding-bottom: 70px!important; }
.pB85	{ padding-bottom: 75px!important; }
.pB80	{ padding-bottom: 80px!important; }
@media screen and (max-width : 640px){
.pB55, .pB60, .pB75, .pB70, .pB85, .pB80 { padding-bottom: 50px!important; }
}

.pV5	{ padding-top: 5px!important; padding-bottom: 5px!important; }
.pV10	{ padding-top: 10px!important; padding-bottom: 10px!important; }
.pV15	{ padding-top: 15px!important; padding-bottom: 15px!important; }
.pV20	{ padding-top: 20px!important; padding-bottom: 20px!important; }
.pV25	{ padding-top: 25px!important; padding-bottom: 25px!important; }
.pV30	{ padding-top: 30px!important; padding-bottom: 30px!important; }
.pV35	{ padding-top: 35px!important; padding-bottom: 35px!important; }
.pV40	{ padding-top: 40px!important; padding-bottom: 40px!important; }
.pV45	{ padding-top: 45px!important; padding-bottom: 45px!important; }
.pV50	{ padding-top: 50px!important; padding-bottom: 50px!important; }

.pH5	{ padding-left: 5px!important; padding-right: 5px!important; }
.pH10	{ padding-left: 10px!important; padding-right: 10px!important; }
.pH15	{ padding-left: 15px!important; padding-right: 15px!important; }
.pH20	{ padding-left: 20px!important; padding-right: 20px!important; }
.pH25	{ padding-left: 25px!important; padding-right: 25px!important; }
.pH30	{ padding-left: 30px!important; padding-right: 30px!important; }
.pH35	{ padding-left: 35px!important; padding-right: 35px!important; }
.pH40	{ padding-left: 40px!important; padding-right: 40px!important; }
.pH45	{ padding-left: 45px!important; padding-right: 45px!important; }
.pH50	{ padding-left: 50px!important; padding-right: 50px!important; }
@media screen and (max-width : 640px){
.pH25, .pH30, .pH35, .pH40, .pH45, .pH50 { padding-left: 20px!important; padding-right: 20px!important; }
}

.p5		{ padding: 5px!important; }
.p10	{ padding: 10px!important; }
.p15	{ padding: 15px!important; }
.p20	{ padding: 20px!important; }
.p25	{ padding: 25px!important; }
.p30	{ padding: 30px!important; }
.p35	{ padding: 35px!important; }
.p40	{ padding: 40px!important; }
.p45	{ padding: 45px!important; }
.p50	{ padding: 50px!important; }
@media screen and (max-width : 640px){
.p25, .p30, .p35, .p40, .p45, .p50	{ padding: 20px!important; }
}

.p0	{ padding: 0 !important; }
.pT0	{ padding-top: 0 !important; }
.pR0	{ padding-right: 0 !important; }
.pL0	{ padding-left: 0 !important; }
.pB0	{ padding-bottom: 0 !important; }

.m0	{ margin: 0 !important; }
.mT0	{ margin-top: 0 !important; }
.mR0	{ margin-right: 0 !important; }
.mL0	{ margin-left: 0 !important; }
.mB0	{ margin-bottom: 0 !important; }

.vaT	{ vertical-align: top!important; }
.vaM	{ vertical-align: middle!important; }
.vaB	{ vertical-align: bottom!important; }

.dispn { display:none!important; }

.nodec a{ text-decoration:none!important; }

.img_border img{  padding:1px;  border:1px solid #ccc;}

/*　新着情報
******************************************************************/
#topics_list6 #main_contents ul li{
    border-bottom: 1px #ccc dotted;
    margin-bottom: 8px;
    padding-bottom: 8px;
}


/* opacity
******************************************************************/
#container a:hover img {
opacity:0.8;
filter: alpha(opacity=80);
-ms-filter: "alpha( opacity=80 )";}

.noover a:hover img{
opacity:1;
filter: alpha(opacity=100);
-ms-filter: "alpha( opacity=100 )";}

/* sitemap
******************************************************************/
#sitemap #main_contents .module_contents{padding:10px 15px;}

#main_contents .sitemap ul li.home {
list-style-type: none;
  font-size:14px;
  background:none!important;
}
#main_contents .sitemap ul.tree {
margin: 0 0 0 2em!important;
padding: 0!important;
list-style: none!important;
}
#main_contents .sitemap ul.tree ul {
margin: 0 0 0 2em!important;
padding: 0!important;
}
#main_contents .sitemap ul.tree li {
margin: 0!important;
padding: 0 0 0 16px!important;
background:none!important;
background-image: url(/files/user_img/1/img/tree_lst.png)!important;
background-repeat: no-repeat!important;
list-style: none!important;
border-bottom:0!mportant;
}
#main_contents .sitemap ul.tree li a{background:none!important;}
#main_contents .sitemap ul.tree li.tree_end {
background-image: url(/files/user_img/1/img/tree_end.png)!important;
list-style: none;
}

/* footpath
******************************************************************/
#top #footpath {display:none;}

#footpath {
margin: 15px auto;
padding: 0px;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
clear:both;
}

#footpath a:link {
text-decoration: none;
background-color: transparent;
}
#footpath a:link:hover {
text-decoration: underline;
background-color: transparent;
}
#footpath a:link:active {
text-decoration: underline;
background-color: transparent;
}
#footpath a:visited {
text-decoration: none;
background-color: transparent;
}
#footpath a:visited:hover {
text-decoration: underline;
background-color: transparent;
}
#footpath a:visited:active {
text-decoration: underline;
background-color: transparent;
}

*html #footpath ul {

position: relative;
top: 10px;
}

#footpath ul li {
line-height: 1;
margin-right: 5px;
display: inline;
}
#footpath ul li a {
background-image: url(/files/user_img/1/img/path.png);
background-position: right center;
background-repeat: no-repeat;
padding-top: 0px;
padding-right: 15px;
padding-bottom: 0px;
}


/* managed by RCMS
******************************************************************/
.rcms{font-size:10px;text-decoration:none;}
.rcms a{text-decoration:none!important;}


/* 記事
******************************************************************/
#main_contents .topics_ymd{text-align:right;padding:0 10px 10px 10px!important;}
#main_contents .relation_link{margin-top:30px;text-align:center;}
ul li{list-style-position: outside;}



/* お問い合わせ
******************************************************************/
#main_contents .contact_form p{
	margin:5px 0 20px 10px;
	padding:0;
	}
#main_contents .contact_form .input_form input,
#main_contents .contact_form .input_form textarea{
	width:95%;
	border:1px solid #999;
	padding:2px;
	}
#main_contents .contact_form #inquiry_item_button_confirm,
#main_contents .contact_form #inquiry_item_button_send{
	width:100px;
	}
input[type="submit"], input[type="button"], input[type="reset"]{
	border:1px solid #999;
	padding:7px!important;
	}
@media screen and (max-width : 640px){
input[type="submit"], input[type="button"], input[type="reset"]{
    margin: 0 auto;
    display: block;
	}
}
input[type="radio"],input[type="checkbox"]{
	width:20px!important;
	border:0!important;
	}

label{margin-right:10px;}

#main_contents .contact_form input#inquiry_item_name,
#main_contents .contact_form input#inquiry_item_ext_title_01,
#main_contents .contact_form input#inquiry_item_ext_title_02{
	width:50%!important;
	}

#main_contents .contact_form table.des{
	margin-bottom:10px!important;
	}

#main_contents .contact_form .c_txt{
  font-size:10px;
  font-weight:normal;
  margin-top:5px;
}

.login_input input{border:1px solid #999;}

@media screen and (max-width : 640px){
  input[type="text"], textarea {
    width: 98%;
  }
}

/*** 送信ボタン ***/
#main_contents .contact_form .submit{text-align:center;}
#main_contents .contact_form .submit input{
	width:200px!important;
	font-size:13px;
	font-weight:bold;
	}
#main_contents .contact_form .reset input{
	width:200px!important;
	font-size:13px;
	font-weight:bold;
	}

/*** エラーテーブル ***/
table..errtable{width:50%;}
.errtable td.errmsg{
	font-size:15px;
	font-weight:bold;
	border-bottom:1px solid #555;
	padding:3px 10px;
	}
.errtable ul{margin:15px 0 15px 25px;}

.required {color:#D72D02;}


/* テーブル
******************************************************************/
/*table{
  border-spacing:0;
border-collapse: collapse;
}*/


/* テーブルデザイン .des
******************************************************************/
#main_contents table.des{
  border-collapse:collapse;
  border-spacing:0px;
  margin:10px auto 30px;
  width:95%;
}

#main_contents table.des th,
#main_contents table.des td{
  border:1px solid #d0d0d0;
  padding:10px;
  text-align:left;
}

#main_contents table.des th{
  background:#F6F6F6;
}

#amap .module_contents{
margin-top:10px;
  margin-bottom:30px;
}

/*** 地図情報 ***/
.location_detail_nolist .frame_out{
	border:1px solid #999;
	padding:1px;
	}


/* 会社案内
******************************************************************/
.box_3 ul{list-style-type:none;background:none;padding;0;}
.box_3 ul li img{
margin-bottom:10px;
}
.box_3 ul li{
float:left;
text-align:center;
  background:none;
  padding:0;
}

.box_3 ul li .txt{
text-align:left;
margin-bottom:30px;
}


/* テキストボックス
******************************************************************/
/*** 　テキストボックス画像   ***/
.tbox_left {float:left;margin:0 15px 10px 0;}
.tbox_right {float:right;margin:0 0 10px 15px;}
.tbox_none{float:none; text-align:center;margin-bottom:15px;}
.tbox_under{float:none; text-align:center;margin-top:15px;}

/*** 画像リスト ***/
.img_list .floatL{
  margin-right:1%;
  margin-bottom:10px;
  width:32%;
}


/* QA
******************************************************************/
.faq_q{color:#4646e7;}
.faq_a{color:#e74646;}
.help_item table th {font-size:15px;font-weight:bold;}

.help_item table td,
.help_item table th{padding:2px;vertical-align:top;}
.help_item table td.faq_atxt{padding-bottom:25px;}
.help_item table .faq_qtxt{font-weight:bold;}



/* サイドメニューバナーリスト
******************************************************************/
.side_banner_list {text-align:center;margin-bottom:15px;}
.side_banner_list .side_banner_box{margin-bottom:10px;}

dl.extensions dt {font-weight:bold;display:none;}
dl.extensions dd{margin:0 0 10px 10px;}




/* トップバナー
******************************************************************/
#bnr_list .top_bnr_list{
float:left;
width:31%;
margin: 0 1% 10px;
}

#bnr_list1 .top_bnr_list{
float:none;
width:100%;
margin: 0 2% 10px;
}
#bnr_list1 .top_bnr_list img{
float:left;
width:150px!important;
}

#bnr_list1 .top_bnr_list{clear:both;}

#bnr_list2 .top_bnr_list{
float:left;
width:45%;
margin: 0 2% 10px;
}

p.page_links{padding:0!important;margin:0!important;}


/* エラーページ調整
******************************************************************/
#error #contents{
float:none;
width:900px;
margin:0 auto;
}

.imgArea ul li{list-style-type:none;}


/* SNS
******************************************************************/
#sns_area{margin-bottom:15px;}
#sns_twitter,#sns_facebook{
float:left;
}
#sns_twitter iframe{width:100px!important;}





/*****************************************************************
*　ページャ
******************************************************************/
p.page_move{
width: 40px;
float: left;
margin: 0 5px!important;
padding: 0!important;
}
ul.pager_ul li{
float:left;
margin:0 5px 7px!important;
}
p.page_move,ul.pager_ul li{text-align:center;}
p.page_move a,ul.pager_ul li a{
display: block;
padding: 3px 10px;
border: 1px solid #f5f5f5;
background-color:#fff;
text-decoration:none!important;
}
p.page_move a:hover,ul.pager_ul li a:hover{background-color:#f0f0f0!important;border-color:#ccc!important;}
.pager_ul li a.current{border-color:#999!important;background:#eee!important;}
ul.pager_ul{
list-style-type:none;
 margin:0 0 3px!important;
}

.page_move_btn{margin-bottom:10px!important;}

.page_move_btn p.page_move a{
padding:9px 0 8px!important;
border-color:#fff;
}

ul.pager_ul,.page_move_btn{
display:inline-block;
    /display: inline;
    /zoom: 1;
}



/*アコーディオン
-------------------------------------*/
.accordion{
    background:#fff;
    border-radius:5px;
}

.trigger{
    padding:10px 10px 10px 15px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #e5e5e5), color-stop(0.00, #ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    border-radius:5px;
    font-size:88%;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    cursor: pointer;
}

.trigger.active{
    border-radius:5px 5px 0 0;
    border-bottom:1px solid #cfcfcf;
}

.accordion_tree{
    padding:15px;
    font-size:75%;
    background-color: #fee;
}

.open-close {
    float:right;
    text-indent:-9999px;
    display:block;
    margin-top:3px;
    height:11px;
    width:20px;
    background:url(/files/user_img/1/img/open.png) no-repeat;
    -webkit-background-size:20px 11px;
}

.trigger.active .open-close{
    background:url(/files/user_img/1/img/close.png) no-repeat;
    -webkit-background-size:20px 11px;
}