<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="css//company.css?v=1371101292" th:href="@{/css/company.css}" rel="stylesheet" type="text/css" media="all" />
<link href="css//main.css?v=1456897137" th:href="@{/css/main.css}" rel="stylesheet" type="text/css" media="all" />
<link href="css//config.css?v=1521779237" th:href="@{/css/config.css}" rel="stylesheet" type="text/css" media="all" />
<link href="css//container.css?v=1454638930" th:href="@{/css/container.css}" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/ui-lightness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" th:attr="src=@{/js/reserve.js}"></script>
<title>Riccardo Cocchiダンス教室</title>
</head>
<body>
<div id="top" class="wrapper1">
	<div id="main_module_id_10" class="wrapper2">
		<div id="container">
			<div id="header">
				<div id="header_contents">
				<div class="inner">
					<h1>Riccardo and Yuliaダンス教室へようこそ！ここでは幅広い年代の方が、楽しく日々ダンスをしています。生徒さん大募集中！！</h1>
					<h2><a href="#" th:href="@{/main}"><img th:attr="src=@{/image/1-1.png}" alt="Riccardo and Yulia" width="482" height="70" /></a></h2>
					<p class="info"><img th:attr="src=@{/image/hd_info.png}" alt="電話番号とか" width="260" height="70" /></p>
				</div>
				</div>
			</div>
			<div id="navi">
				<div class="navi module">
					<ul id="mainnav2" class="nav">
   			 			<li><a href="#" th:href="@{/main}" id="home">ホーム</a></li>
   						<li><a href="#" th:href="@{/reserve/teacher}" id="menu1">予約する</a></li>
    					<li><a href="#" th:href="@{/reserve/all}" id="menu2">予約一覧</a></li>
   			 			<li><a href="#" th:href="@{/afterteacher}" id="menu3">スタッフ紹介</a></li>
   			 			<li><a href="#" th:href="@{/main}" id="menu4">フォトギャラリー</a></li>
   						<li><a href="#" th:href="@{/aftersyumoku}" id="menu5">種目紹介</a></li>
   						<li><a href="#" th:href="@{/afteraccess}" id="menu6">アクセス</a></li>
    					<li><a href="#" th:href="@{/aftercontact}" id="menu7">お問い合わせ</a></li>
					</ul>
				</div>
			</div>
			<div id="footpath"></div>
			<div id="contents">
				<div id="top_contents">
					<div id="sub_module1">
					<div id="contents1000444">
						<div class="topics_detail module"></div>
					</div>
					</div>
				</div>
				<div id="wrap_contents" class="clearFix">
					<div id="main_contents">
						<div id="sub_module3"></div>
						<div id="main_module">
						<div id="contents26"></div>
						</div>
						<div id="sub_module4">
							<div id="contents1000179">
								<div class="topics_list module">
									<div class="tbox">
										<div class="tbox_box" id="tbox53">
											<div id="jsRsvCdTbl" class="reserveConditionTable ">
												<table class="innerTable nowrap" >
													<tr>
														<th rowspan="2" class="weekPaging" th:if="${session.week<=0}"><span class="arrowPagingWeekLOff">前の一週間</span></th>
														<th rowspan="2" class="weekPaging" th:if="${session.week>0}">
															<a href="calendar?week" th:href="@{calendars(week=${session.week-1},coupleId=${couple.leader.coupleId})}"title="前の一週間" class="arrowPagingWeekL jscCalNavi">前の一週間</a>
														</th>
														<th th:attr="colspan=${session.colspan}" class="monthCell" th:inline="text">[[${session.daytimeList[0].year}]]年[[${session.daytimeList[0].month}]]月</th>
														<th:block th:if="${session.colspan<7}">
															<th th:attr="colspan=${7-session.colspan}" class="monthCell" th:inline="text">[[${session.daytimeList[session.colspan].year}]]年[[${session.daytimeList[session.colspan].month}]]月</th>
														</th:block>
														<th rowspan="2" class="weekPaging" th:if="${session.week>=8}"><span class="arrowPagingWeekROff">次の一週間</span></th>
														<th rowspan="2" class="weekPaging" th:if="${session.week<8}">
															<a href="calendars?week" th:href="@{calendars(week=${session.week+1},coupleId=${couple.leader.coupleId})}" title="次の一週間" class="arrowPagingWeekR jscCalNavi">次の一週間</a>
														</th>
													</tr>
													<tr>
														<th:block th:each="d:${session.daytimeList}" th:switch="${d.weekday}">
															<th:block th:case="土">
																<th class="sat" th:inline="text">[[${d.day}]]<br/>([[${d.weekday}]])</th></th:block>
															<th:block th:case="日">
																<th class="sun" th:inline="text">[[${d.day}]]<br/>([[${d.weekday}]])</th></th:block>
															<th:block th:case="*">
																<th class="dayCell" th:inline="text">[[${d.day}]]<br/>([[(${d.weekday})]])</th></th:block>
														</th:block>
													</tr>
													<tr>
														<th>
															<table class="moreInnerTable timeTableLeft">
																<tr th:each="time:${session.timeList}">
																	<th class="timeCell timeSharpLine" th:text="${time}">時間</th>
																</tr>
															</table>
														</th>
														<th:block th:each="list:${session.trueList}" th:switch="${list[0].number}">
															<th th:case="4" class="closeCol">
																<table class="moreInnerTable">
																	<tr><td class="closeColInner"><span class="closeColText">休業日</span></td></tr>
																</table>
															</th>
															<th th:case="*" class="innerCol">
																<table class="moreInnerTable timeTableLeft">
																	<tr th:each="r:${list}" th:switch="${r.number}">
																		<td class="openCell timeSharpLine" th:case="0">
																			<a  href="#" class="icnOpen" th:data-date="${r.ymday}" data-th-data-time="${r.time}" data-th-data-userId="${session.user.id}" data-th-data-coupleId="${session.teacher.id}" >◎</a>
																		</td>
																		<td class="closeCell" th:case="1"><span class="icnClose">×</span></td>
																		<td class="closeCell" th:case="2"><span class="icnCloseOwn">済</span></td>
																		<td class="closeCellToday " th:case="3"><span class="icnCloseToday">※</span></td>
																	</tr>
																</table>
															</th>
														</th:block>
														<th>
															<table class="moreInnerTable timeTableRight">
																<tr th:each="time:${session.timeList}">
																	<th class="timeCell timeSharpLine" th:text="${time}">時間</th>
																</tr>
															</table>
														</th>
													</tr>
												</table><br>
												<p>「※」...お電話にて、ご確認ください。<br>「済」...ご自身で予約済みです。</p>
											</div>
											<div class="h3out mT30 clearfix">
											<div class="h3in clearfix">
											<div class="tbox_side_out clearfix">
												<div class="tbox_side_txt ovh">
													<div class="clearfix">
														<h2>現在選択中の先生</h2>
														<table class="des">
															<tbody>
															<tr><th>カップル名</th><th colspan="2">カップル紹介</th></tr>
															<tr><td th:text="${couple.name}">〇〇組</td>
																<td colspan="2" th:inline="text">[[${couplesIntro.intro}]]</td></tr>
															<tr><th>写真</th><th>名前</th><th>プロフィール</th></tr>
															<tr><td><img src=${couple.leader.image} th:attr="src=@{|/${couple.leader.img}|}" width="150" height="200" ></td>
																<td th:text="${couple.leader.name}">リーダー名前</td>
																<td th:text="${couple.leader.intro}">リーダー紹介</td></tr>
															<tr><td><img src=${couple.partner.image} th:attr="src=@{|/${couple.partner.img}|}" width="150" height="200" ></td>
																<td th:text="${couple.partner.name}">パートナー名前</td>
																<td th:text="${couple.partner.intro}">パートナー紹介</td></tr>
															</tbody>
														</table><br>
													</div>
												</div>
											</div></div></div>
											<div class="tbox_side_out clearfix">
												<div class="tbox_side_txt ovh">
													<div class="clearfix">
														<!-- PICK UP -->
														<div class="top_pick-up">
															<h2>
																<img alt="PICK UP" th:attr="src=@{/image/top_title02.png}"style="width: 695px; height: 40px;">
															</h2>
															<div class="box2 center">
																<p>
																	<a href="#" th:href="@{/afterprice}">
																	<img alt="料金案内" th:attr="src=@{/image/201607151534_1.png}"style="width: 225px; height: 226px;"></a>
																</p>
															</div>
															<div class="box2 center">
																<p>
																	<a href="#" th:href="@{/afterteacher}">
																	<img alt="スタッフ紹介" th:attr="src=@{/image/201605121931_1.png}"style="width: 225px; height: 226px;"></a>
																</p>
															</div>
															<div class="box2 center last">
																<p>
																	<a href="#" th:href="@{/main}">
																	<img alt="フォトギャラリー？" th:attr="src=@{/image/201702041548_1.jpg}"style="width: 225px; height: 226px;"></a>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<p class="page_links"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="side_contents_left">
						<div id="sub_module2">
							<div id="contents1000027">
								<div class="topics_list module"></div>
							</div>
							<div id="contents1000111">
								<div class="topics_list module">
									<h3>
										<img th:attr="src=@{/image/side_title_news.png}" alt="NEWS" width="220"height="50" />
									</h3>
									<div class="module_contents mainbox01">
										<ul>
											<li><a href="#" th:href="@{/main}">夏季休業のお知らせ。</a></li>
											<li><a href="#" th:href="@{/main}">Ａ級戦で２位・Ｂ級戦で優勝！！</a></li>
											<li><a href="#" th:href="@{/main}">初心者の体験レッスン</a></li>
											<li><a href="#" th:href="@{/main}">初心者のＱ＆Ａ</a></li>
											<li><a href="#" th:href="@{/main}">レッスン料金のご案内</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div id="contents1000110">
								<div class="topics_list module">
									<div id="side_68">
										<h3>
											<img alt="MENU" height="50" th:attr="src=@{/image/side_title_menu.png}"width="220">
										</h3>
										<ul>
											<li><a href="#" th:href="@{/main}">ホーム</a></li>
											<li><a href="#" th:href="@{/reserve/teacher}">予約する</a></li>
											<li><a href="#" th:href="@{/reserve/all}">予約一覧</a></li>
											<li><a href="#" th:href="@{/afterteacher}">スタッフ紹介</a></li>
											<li><a href="#" th:href="@{/main}">フォトギャラリー</a></li>
											<li><a href="#" th:href="@{/aftersyumoku}">種目紹介</a></li>
											<li><a href="#" th:href="@{/afteraccess}">アクセス</a></li>
											<li><a href="#" th:href="@{/aftercontact}">お問い合わせ</a></li>
											<li><a href="#" th:href="@{/config}">各種設定</a></li>
											<li><a href="#" th:href="@{/logout}">ログアウト</a></li>
										</ul>
										<div class="side_banner_list">
											<div class="side_banner_box">
												<a href="#" th:href="@{/aftersyumoku}"><img th:attr="src=@{/image/68_ext_02_1.png}"alt="種目紹介"> </a>
											</div>
											<div class="side_banner_box">
												<a href="https://www.kentdance.co.jp/"><img th:attr="src=@{/image/68_ext_02_0.jpg}" alt="Kent Dance"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="sub_module5"></div>
						<div id="sub_module7"></div>
					</div>
				</div>
				<div id="bottom_contents">
					<div id="sub_module6"></div>
				</div>
			</div>
			<div id="footer">
				<div id="footer_contents">
					<div class="inner cf">
						<div class="info">
							<strong><a href="#" th:href="@{/main}">
									<img th:attr="src=@{/image/1-1.png}"alt="Riccardo and Yuliaダンススクール" width="391" height="80" /></a></strong>
							<p>
								東京都墨田区江東橋2-8-1　ワコーレ錦糸町1階<br />Tel.03-6659-5426
							</p>
						</div>
						<ul>
							<li><a href="#" th:href="@{/main}">ホーム</a></li>
							<li><a href="#" th:href="@{/reserve/teacher}">予約する</a></li>
							<li><a href="#" th:href="@{/reserve/all}">予約一覧</a></li>
							<li><a href="#" th:href="@{/afterteacher}">スタッフ紹介</a></li>
							<li><a href="#" th:href="@{/main}">フォトギャラリー</a></li>
							<li><a href="#" th:href="@{/aftersyumoku}">種目紹介</a></li>
							<li><a href="#" th:href="@{/afteraccess}">アクセス</a></li>
							<li><a href="#" th:href="@{/aftercontact}">お問い合わせ</a></li>
							<li><a href="#" th:href="@{/config}">各種設定</a></li>
							<li><a href="#" th:href="@{/logout}">ログアウト</a></li>
						</ul>
					</div>
					<address>
						Copyright&copy; 2018 Riccardo and Yuliaダンススクール All Rights Reserved.
						<span class="rcms">managed by
						<a href="http://www.r-cms.jp/" rel="nofollow">RCMS</a></span>
					</address>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="reserveConfirm" title="以下の内容で予約します" style="display:none;">
	<p><span th:text="${session.teacher.name}"></span><br><span id="selectedDate"></span><br><span id="selectedTime"></span></p>
	<form action="#"><span id="reserveComplete">
		<input type="hidden" name="userId" th:value="${session.user.id}"/>
		<input type="hidden" name="coupleId" th:value="${session.teacher.id}"/>
		<span id="theDate"><input type="hidden" name="date" value="#"/></span>
		<span id="theTime"><input type="hidden" name="time" value="#"/></span>
		<input type="submit" value="予約する"/>
	</span></form>
</div>
<div id="reserveCreated" title="予約が完了しました" style="display:none;">
	<p>ご予約ありがとうございました</p><br>
	<form th:action="@{/reserve/calendar}">
		<input type="hidden" name="whoReserve" th:value="${session.teacher.id}"/>
		<input type="submit" value="閉じる"/>
	</form>
</div>
<div id="reserveFault" title="予約が出来ませんでした" style="display:none;">
	<p>再度試してください</p><br><form th:action="@{/reserve/calendar}"><input type="submit" value="閉じる"/></form>
</div>
</body>
</html>