<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>先生情報修正</title>
</head>
<body>
<div align="center">
<h1>先生情報修正</h1>
<form action="#" th:action="@{/master/teacherresult}">
<th:block th:each="t:${teacherConfig}">
カップル名<br>	<input type="text" name="couple" th:value="${t.name}"/><br><br>
カップル紹介<br><textarea rows="6" cols="60" name="couplesIntro" th:text="${couples.intro}"></textarea><br>
<h3>リーダー</h3>
画像リンク<br>	<input type="text" name="imgL" th:value="${t.leader.img}"/><br><br>
名前<br>		<input type="text" name="nameL" th:value="${t.leader.name}"/><br><br>
紹介<br><textarea rows="6" cols="60" name="introL" th:text="${t.leader.intro}"></textarea><br><br>
年齢<br>		<input type="number" name="ageL" th:value="${t.leader.age}"/>歳<br><br>
性別<br>		<span th:text="${t.leader.sex}"></span><br><br>
身長<br>		<input type="number" name="heightL" th:value="${t.leader.height}"/>cm<br><br>
体重<br>		<input type="number" name="weightL" th:value="${t.leader.weight}"/>kg<br><br>
国籍<br>		<span th:text="${t.leader.country}"></span><br><br>
性格<br>		<span th:text="${t.leader.personality}"></span><br><br>
その他<br>		<input type="text" name="etcL" th:value="${t.leader.etc}"/>
				<input type="hidden" name="leaderId" th:value="${t.leader.id}"/><Br><br>
<h3>パートナー</h3>
画像リンク<br>	<input type="text" name="imgP" th:value="${t.partner.img}"/><br><br>
名前<br>		<input type="text" name="nameP" th:value="${t.partner.name}"/><br><br>
紹介<br><textarea rows="6" cols="60" name="introP" th:text="${t.partner.intro}"></textarea><br><br>
年齢<br>		<input type="number" name="ageP" th:value="${t.partner.age}"/>歳<br><br>
性別<br>		<span th:text="${t.partner.sex}"></span><br><br>
身長<br>		<input type="number" name="heightP" th:value="${t.partner.height}"/>cm<br><br>
体重<br>		<input type="number" name="weightP" th:value="${t.partner.weight}"/>kg<br><br>
国籍<br>		<span th:text="${t.partner.country}"></span><br><br>
性格<br>		<span th:text="${t.partner.personality}"></span><br><br>
その他<br>		<input type="text" name="etcP" th:value="${t.partner.etc}"/>
				<input type="hidden" name="partnerId" th:value="${t.partner.id}"/><br><br>
<input type="hidden" name="coupleId" th:value="${t.coupleId}"/>
<input type="submit" name="config" value="変更する">
</th:block>
</form><br><br>
<a href="#" th:href="@{/master/teacher}">戻る</a>
<br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>