<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>先生削除</title>
</head>
<body>
<div align="center">
<h1>先生削除</h1>
<table border="1" style="width:3000" >
<tbody th:each="c,stat : ${coupleList}">
	<tr>
		<td>
		<table border="1" style="width:3000">
		<tr><th>写真</th><th>名前</th><th>プロフィール</th></tr>
		<tr>
			<td><img src=${c.leader.image} th:attr="src=@{|/${c.leader.img}|}" width="150" height="200" ></td>
			<td th:text="${c.leader.name}">リーダー名前</td>
			<td th:text="${c.leader.intro}">リーダー紹介</td>
		</tr>
		</table>
		</td>
		<td>
		<table border="1" style="width:3000">
		<tr><th>写真</th><th>名前</th><th>プロフィール</th></tr>
		<tr><td><img src=${c.partner.image} th:attr="src=@{|/${c.partner.img}|}" width="150" height="200" ></td>
			<td th:text="${c.partner.name}">パートナー名前</td>
			<td th:text="${c.partner.intro}">パートナー紹介</td>
		</tr>
		</table>
		</td>
	</tr>
	<tr>
		<th>
		<table border="1" style="width:3000">
			<tr><th>カップル名</th><th>カップル紹介</th></tr>
			<tr><td th:text="${c.name}">カップル名</td>
				<td th:inline="text">[[${couplesIntro[stat.index].intro}]]</td></tr>
		</table>
		</th>
	</tr>
</tbody>
</table><br><br>
<form action="#" th:action="@{/master/teacherdeleteconfirm}">
<select name="coupleId">
	<option th:each="c:${coupleList}" th:value="${c.coupleId}" th:text="${c.name}">〇〇組</option>
</select>
<input type="submit" value="削除する">
</form><br><br>
<a href="#" th:href="@{/master/teacher}">戻る</a>
<br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>