<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メルマガ設定変更</title>
</head>
<body>
<div align="center">
現在のメルマガ設定<br>
<th:block th:text="${session.theUser.maga==1} ? '受け取る' : '受け取らない'">受け取る</th:block><br><br>
<form action="#" th:action="@{/master/userconfigresult}">
変更後のメルマガ設定<br>
<select name="maga">
	<option value="1">受け取る</option>
	<option value="0">受け取らない</option>
</select>
<input type="submit" name="Maga" value="変更する">
</form>
<br><br>
<a href="#" th:href="@{/master/returnconfig}">戻る</a><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>