<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script th:attr="src=@{/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:attr="src=@{/js/ajaxzip3.js}"></script>
<script type="text/javascript" th:attr="src=@{/js/formCheck.js}"></script>
<meta charset="UTF-8">
<title>住所変更</title>
</head>
<body>
<div align="center">
<h1>住所変更</h1><br>
<h3>現在の住所</h3>
〒<th:block th:text="${session.ynum}">123-4567</th:block><br><br>
現在の住所<br>
<th:block th:text="${session.theUser.address}">東京都</th:block><br><br>
<form action="#" th:action="@{/master/userconfigresult}">
<h3>変更後の住所</h3>
郵便番号<br><input type="number" name="ynum" id="ynum" size="10" placeholder="ハイフンなしで入力"
		onkeyup="AjaxZip3.zip2addr(this,'','address','address');"/><br><br>
市区町村<br><input type="text" name="address" size="30" readonly><br><br>
番地・建物名など<br><input type="text" name="address2" id="address2" size="30"><br><br>
<h3>再入力</h3>
郵便番号<br><input type="number" name="reYnum"size="10" placeholder="ハイフンなしで入力"
		onkeyup="AjaxZip3.zip2addr(this,'','reAddress','reAddress');"/><br><br>
市区町村<br><input type="text" name="reAddress" size="30" readonly><br><br>
番地・建物名など<br><input type="text" name="reAddress2"size="30"><br><br>
<input type="submit" name="Address" value="変更する">
</form>
<br><br>
<a href="#" th:href="@{/master/returnconfig}">戻る</a><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>