<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メルマガ送信履歴</title>
</head>
<body>
<div align="center">
<h1>メルマガ送信履歴</h1>
<table border="1">
	<tr><th>タイトル</th><th>本文</th><tr>
	<tr th:each="m:${magaList}">
		<td th:text="${m.title}">タイトル</td>
		<td th:text="${m.text}">本文</td><tr>
</table>
<br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>