<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>先生削除確認画面</title>
</head>
<body>
<div align="center">
<h1>先生削除確認画面</h1>
<p>以下の先生を削除します。よろしいですか。</p>
<table border="1">
	<tr><th>カップル名</th><th>名前</th><th>紹介</th></tr>
	<tr th:each="t:${deleteTeacher}">
		<td th:text="${couple.name}">○○組</td>
		<td th:text="${t.name}">名前</td>
		<td th:text="${t.intro}">紹介文</td>
	</tr>
</table><br>
<form action="#" th:action="@{/master/teacherresult}">
<input type="hidden" name="coupleId" th:value="${coupleId}"/>
<input type="submit" name="delete" value="削除する">
</form><br><br>
<a href="#" th:href="@{/master/teacherdelete}">戻る</a>
</div>
</body>
</html>