<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>先生追加画面</title>
</head>
<body>
<div align="center">
<h1>先生追加</h1>
<form action="#" th:action="@{/master/teacherresult}">
カップル名<br>	<input type="text" name="couple" required><br><br>
カップルの紹介文<br><textarea rows="6" cols="60" name="couplesIntro" required></textarea>
<h3>リーダー</h3>
画像リンク<br>	<input type="text" name="imgL" required><br><br>
名前<br>		<input type="text" name="nameL" required><br><br>
年齢<br>		<input type="number" name="ageL" required><br><br>
性別<br>		<input type="hidden" name="sexL" value="0" readonly>男性<br><br>
身長<br>		<input type="number" name="heightL" required>cm<br><br>
体重<br>		<input type="number" name="weightL" required>kg<br><br>
国籍<br>		<input type="text" name="countryL" required><br><br>
性格<br>		<input type="text" name="personalityL" required><br><br>
紹介<br>		<textarea rows="6" cols="60" name="introL" required></textarea><br><br>
好きな種目<br>
<select name="eventL">
	<option value="0">Chachacha チャチャチャ</option>
	<option value="1">Samba サンバ</option>
	<option value="2">Rumba ルンバ</option>
	<option value="3">Paso Doble パソドブレ</option>
	<option value="4">Jive ジャイブ</option>
</select><br><br>
その他<br>		<textarea rows="6" cols="60" name="etcL"></textarea>
<br><br><br><br>
<h3>パートナー</h3>
画像リンク<br>	<input type="text" name="imgP" required><br><br>
名前<br>		<input type="text" name="nameP" required><br><br>
年齢<br>		<input type="number" name="ageP" required><br><br>
性別<br>		<input type="hidden" name="sexP" value="1" readonly>女性<br><br>
身長<br>		<input type="number" name="heightP" required>cm<br><br>
体重<br>		<input type="number" name="weightP" required>kg<br><br>
国籍<br>		<input type="text" name="countryP" required><br><br>
性格<br>		<input type="text" name="personalityP" required><br><br>
紹介<br>		<textarea rows="6" cols="60" name="introP" required></textarea><br><br>
好きな種目<br>
<select name="eventP">
	<option value="0">Chachacha チャチャチャ</option>
	<option value="1">Samba サンバ</option>
	<option value="2">Rumba ルンバ</option>
	<option value="3">Paso Doble パソドブレ</option>
	<option value="4">Jive ジャイブ</option>
</select><br><br>
その他<br>		<textarea rows="6" cols="60" name="etcP"></textarea><br><br>
<input type="submit" name="add" value="追加する">
</form><br><br>
<a href="#" th:href="@{/master/teacher}">戻る</a>
<br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>