<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メルマガ送信確認画面</title>
</head>
<body>
<div align="center">
<h1>メルマガ送信確認画面</h1>
<p>以下の内容で一斉送信します。<br>よろしければ送信ボタンを押してください</p>
<form th:action="@{/master/magazineresult}">
タイトル<br><input type="text" name="title" readonly th:value="${title}"/><br><br>
本文<br><textarea rows="7" cols="60" name="text"th:value="${text}" readonly th:text="${text}">本文内容</textarea><br><br>
<input type="submit" value="送信する">
</form><br><br>
<a href="#" th:href="@{/master/mailmagazine}">戻る</a><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>