<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="js/jquery.validationEngine-ja.js" type="text/javascript"></script>
<script src="js/jquery.validationEngine.js" type="text/javascript"></script>
<script type="text/javascript" src="js/ajaxzip3.js"></script>
<script type="text/javascript" src="js/formCheck.js"></script>
<link rel="stylesheet" href="css/validationEngine.jquery.css" type="text/css"/>
<meta charset="UTF-8">
<title>ユーザー名変更</title>
</head>
<body>
<div align="center">
現在のユーザー名<br>
<th:block th:text="${session.theUser.name}">名前</th:block><br><br>
<form action="#" th:action="@{/master/userconfigresult}">
姓<br><input type="text" name="name" id="name" required><br>
名<br><input type="text" name="name2" id="name2" required><br><br>
姓(カナ)<br><input type="text" name="kana" id="kana" required><br>
名(カナ)<br><input type="text" name="kana2" id="kana2" required><br><br>
姓(再入力)<br><input type="text" name="reName" id="reName" required><br>
名(再入力)<br><input type="text" name="reName2" id="reName2" required><br><br>
姓(カナ再入力)<br><input type="text" name="reKana" id="reKana" required><br>
名(カナ再入力)<br><input type="text" name="reKana2" id="reKana2" required><br><br>
<input type="submit" name="Name" value="変更する">
</form>
<br><br>
<a href="#" th:href="@{/master/returnconfig}">戻る</a><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>