<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索結果</title>
</head>
<body>
<div align="center">
<h1>検索しましたがヒットしませんでした</h1>
<a href="#" th:href="@{/master/user}">ユーザー一覧へ戻る</a>
</div>
</body>
</html>