<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>変更が完了しました</title>
</head>
<body>
<div align="center">
<h1>変更が完了しました</h1>
<a href="#" th:href="@{/master/teacher}">先生情報へ戻る</a><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>