<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログインに失敗しました</title>
</head>
<body>
<div align="center">
<h1>ログインに失敗しました</h1>
<p>入力した内容に間違いがないかお確かめください</p>
<br>
<a href="login" th:href="@{/master/login}">ログイン画面へ</a><br><br>
<a href="top" th:href="@{/top}">トップページへ</a>
</div>
</body>
</html>