<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メインページ</title>
</head>
<body>
<div align="center">
<h1>メイン画面</h1>

<form action="teacher">
<input type="submit" value="先生情報変更">
</form><br><br>
<form action="user">
<input type="submit" value="ユーザー一覧">
</form><br><br>
<form action="mailmagazine">
<input type="submit" value="メルマガ送信">
</form><br><br>
<form action="mailmagazineall">
<input type="submit" value="メルマガ送信履歴">
</form>
<br><br>
<a href="top" th:href="@{/top}">HPトップへ</a>
</div>
</body>
</html>