<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>入力エラー</title>
</head>
<body>
<div align="center">
<h1>入力内容が異なっています</h1>
<a href="#" th:href="@{/master/returnconfig}">戻る</a>
</div>
</body>
</html>