<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="js/jquery.validationEngine-ja.js" type="text/javascript"></script>
<script src="js/jquery.validationEngine.js" type="text/javascript"></script>
<script type="text/javascript" src="js/ajaxzip3.js"></script>
<script type="text/javascript" src="js/formCheck.js"></script>
<link rel="stylesheet" href="css/validationEngine.jquery.css" type="text/css"/>
<script type="text/javascript">
jQuery(document).ready(function(){
   jQuery("#phone").validationEngine();
});
</script>
<meta charset="UTF-8">
<title>電話番号変更</title>
</head>
<body>
<div align="center">
現在の電話番号<br>
<th:block th:text="${session.theUser.phone}">090-xxxx-xxxx</th:block><br><br>
<form action="#" th:action="@{/master/userconfigresult}">
変更後の電話番号<br><input type="text" name="phone" id="phone" placeholder="090-xxxx-xxxx" required><br><br>
再入力<br><input type="text" name="rePhone" class="validate[equals[phone]]" placeholder="090-xxxx-xxxx" required><br><br>
<input type="submit" name="Phone" value="変更する">
</form>
<br><br>
<a href="#" th:href="@{/master/returnconfig}">戻る</a><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>