<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>送信完了しました</title>
</head>
<body>
<div align="center">
<h1>送信完了しました</h1>
<a href="#" th:href="@{/master/mailmagazineall}">送信履歴へ</a><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>