<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div align="center">
<h1>メールマガジン送信</h1>
<form th:action="@{/master/magazineconfirm}">
タイトル<br><input type="text" name="title" required autocomplete="off"><br><br>
本文<br><textarea rows="7" cols="60" name="text" required autocomplete="off" placeholder="ここに本文を入力してください"></textarea><br><br>
<input type="submit" value="送信確認画面へ">
</form><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>