<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー情報変更</title>
</head>
<body>
<div align="center">
<h1>ユーザー情報変更</h1>
<table border="1" style="width:3000" th:object="${session.theUser}">
	<tr><th>項目</th><th>現在の設定</th><th>変更</th></tr>
	<tr><td>ニックネーム</td><td th:text="*{nickname}"></td>
		<td><form action="#" th:action="@{/master/userconfig}">
		<input type="submit" name="nickname" value="変更する"></form></td>
	</tr>
	<tr><td>ユーザー名</td><td th:text="*{name}">〇〇</td>
		<td><form action="#" th:action="@{/master/userconfig}">
		<input type="submit" name="name" value="変更する"></form></td>
	</tr>
	<tr><td>性別</td><td colspan="2" th:text="*{sex==0}?'男性':'女性'"></td></tr>
	<tr><td>パスワード</td><td th:text="*{pass}">1234</td>
		<td><form action="#" th:action="@{/master/userconfig}">
		<input type="submit" name="pass" value="変更する"></form></td>
	</tr>
	<tr><td>メールアドレス</td><td th:text="*{mail}">abc@def.com</td>
		<td><form action="#" th:action="@{/master/userconfig}" method="post">
		<input type="submit" name="mail" value="変更する"></form></td>
	</tr>
	<tr><td>住所</td><td th:inline="text">[[${session.ynum}]]<br>[[*{address}]]</td>
		<td><form action="#" th:action="@{/master/userconfig}">
		<input type="submit" name="address" value="変更する"></form></td>
	</tr>
	<tr><td>電話番号</td><td th:text="*{phone}">090-xxxx-xxxx</td>
		<td><form action="#" th:action="@{/master/userconfig}">
		<input type="submit" name="phone" value="変更する"></form></td>
	</tr>
	<tr><td>メルマガ</td><td th:text="*{maga==1} ? '受け取る' : '受け取らない'">受け取る</td>
		<td	><form action="#" th:action="@{/master/userconfig}">
		<input type="submit" name="maga" value="変更する"></form></td>
	</tr>
	<tr><td>登録状況</td><td th:text="*{flag==0} ? '登録済み' : '退会済み'">登録済み</td>
		<td><form th:action="@{/master/userconfig}">
		<input type="submit" name="acount" value="変更する"/></form></td>
	</tr>
</table>
<br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>