<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="js/jquery.validationEngine-ja.js" type="text/javascript"></script>
<script src="js/jquery.validationEngine.js" type="text/javascript"></script>
<script type="text/javascript" src="js/ajaxzip3.js"></script>
<script type="text/javascript" src="js/formCheck.js"></script>
<link rel="stylesheet" href="css/validationEngine.jquery.css" type="text/css"/>
<script type="text/javascript">
jQuery(document).ready(function(){
   jQuery("#pass").validationEngine();
});
</script>
<meta charset="UTF-8">
<title>パスワード変更</title>
</head>
<body>
<div align="center">
現在のパスワード<br>
<th:block th:text="${session.theUser.pass}">パスワード</th:block><br><br>
<form action="#" th:action="@{/master/userconfigresult}">
変更後のパスワード<br><input type="password" id="pass" name="pass" required><br><br>
再入力<br><input type="password" name="rePass" class="validate[equals[pass]]" required><br><br>
<input type="submit" name="Pass" value="変更する">
</form>
<br><br>
<a href="#" th:href="@{/master/returnconfig}">戻る</a><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>