<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="js/jquery.validationEngine-ja.js" type="text/javascript"></script>
<script src="js/jquery.validationEngine.js" type="text/javascript"></script>
<script type="text/javascript" src="js/ajaxzip3.js"></script>
<script type="text/javascript" src="js/formCheck.js"></script>
<link rel="stylesheet" href="css/validationEngine.jquery.css" type="text/css"/>
<meta charset="UTF-8">
<title>パスワード変更</title>
</head>
<body>
<div align="center">
現在のニックネーム<br>
<th:block th:text="${session.theUser.nickname}">ニックネーム</th:block><br><br>
<form action="#" th:action="@{/master/userconfigresult}">
変更後のニックネーム<br><input type="text" id="nickname" name="nickname" required><br><br>
再入力<br><input type="text" name="reNickname" id="reNickname" required><br><br>
<input type="submit" name="Nickname" value="変更する">
</form>
<br><br>
<a href="#" th:href="@{/master/returnconfig}">戻る</a><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>