<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script th:attr="src=@{/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:attr="src=@{/js/ajaxzip3.js}"></script>
<script type="text/javascript" th:attr="src=@{/js/formCheck.js}"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script th:attr="src=@{/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
<script th:attr="src=@{/js/masterSort.js}"></script>
<meta charset="UTF-8">
<title>ユーザー情報変更</title>
</head>
<body>
<div align="center">
<h1>ユーザー情報変更</h1>
検索したい情報を選んでください<br>
<form action="#" th:action="@{/master/sort}">
	<select name="column" id="column">
		<option value="0">ニックネーム</option>
		<option value="1">ユーザー名</option>
		<option value="8">ユーザー名(カナ)</option>
		<option value="2">パスワード</option>
		<option value="3">メールアドレス</option>
		<option value="4">郵便番号</option>
		<option value="5">住所</option>
		<option value="6">電話番号</option>
		<option value="7">メルマガ設定</option>
		<option value="9">退会済みユーザー</option>
	</select>
	<br><br>
	<div id="window">
	検索ワード<br>
	<input type="text" name="text" id="text">
	</div><br><br>
	<input type="submit" value="検索する" id="find">

</form><br><br>
<a href="#" th:href="@{/master/user}">ユーザー一覧へ戻る</a>
<div id="quit">
<table border="1">
	<tr><th>ニックネーム</th><th>名前</th><th>性別</th><th>パスワード</th><th>メールアドレス</th>
		<th>住所</th><th>電話番号</th><th>メルマガ登録</th></tr>
	<tbody id="search">
	<tr th:each="u:${session.userList}">
		<td th:text="${u.nickname}">ニックネーム</td>
		<td th:inline="text">[[${u.kana}]]<br>[[${u.name}]]</td>
		<td th:text="${u.sex==0}?'男性':'女性'">性別</td>
		<td th:text="${u.pass}">パスワード</td>
		<td th:text="${u.mail}">メールアドレス</td>
		<td th:inline="text">[[${u.ynum}]]<br>[[${u.address}]]</td>
		<td th:text="${u.phone}">電話番号</td>
		<td th:text="${u.maga==1} ? '受け取る' : '受け取らない'">メルマガ登録</td></tr>
	</tbody>
</table>
</div>
<h2>ユーザー情報を変更する</h2>
下のメールアドレス一覧から選んでください<br>
<form action="userconfig" th:action="@{/master/userconfig}">
<select name="mail">
	<th:block th:each="u:${session.userList}">
	<option th:value="${u.mail}" th:text="${u.mail}">aaa@bbb.com</option>
	</th:block>
</select>
<input type="submit" value="変更する">
</form><br><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>