<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録状況変更</title>
</head>
<body>
<div align="center">
現在の登録状況<br>
<th:block th:text="${session.theUser.flag==0} ? '登録済み' : '退会済み'">登録済み</th:block><br><br>
<form action="#" th:action="@{/master/userconfigresult}">
変更後の登録状況<br>
<select name="flag">
	<option value="0">登録済みにする</option>
	<option value="1">退会済みにする</option>
</select>
<input type="submit" name="Flag" value="変更する">
</form>
<br><br>
<a href="#" th:href="@{/master/returnconfig}">戻る</a><br><br>
<a href="#" th:href="@{/master/top}">管理者トップへ</a>
</div>
</body>
</html>