<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="css//company.css?v=1371101292" th:href="@{/css/company.css}" rel="stylesheet" type="text/css" media="all" />
<link href="css//main.css?v=1456897137" th:href="@{/css/main.css}" rel="stylesheet" type="text/css" media="all" />
<link href="css//config.css?v=1521779237" th:href="@{/css/config.css}" rel="stylesheet" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script type="text/javascript" th:attr="src=@{/js/ajaxzip3.js}"></script>
<script type="text/javascript" th:attr="src=@{/js/formCheck.js}"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/ui-lightness/jquery-ui.css">
<link href="css//container.css?v=1454638930" th:href="@{/css/container.css}" rel="stylesheet" type="text/css" media="screen" />
<title>Riccardo Cocchiダンス教室</title>
</head>
<body>
<div id="top" class="wrapper1">
	<div id="main_module_id_10" class="wrapper2">
		<div id="container">
			<div id="header">
				<div id="header_contents">
				<div class="inner">
					<h1>Riccardo and Yuliaダンス教室へようこそ！ここでは幅広い年代の方が、楽しく日々ダンスをしています。生徒さん大募集中！！</h1>
					<h2><a href="#" th:href="@{/top}"><img src="image/1-1.png" alt="Riccardo and Yulia" width="482" height="70" /></a></h2>
					<p class="info"><img src="image/hd_info.png" alt="電話番号とか" width="260" height="70" /></p>
				</div>
				</div>
			</div>
			<div id="navi">
				<div class="navi module">
					<ul id="mainnav" class="nav">
   			 			<li><a href="#" th:href="@{/top}" id="home">ホーム</a></li>
   						<li><a href="#" th:href="@{/newuser}" id="menu1">新規登録</a></li>
    					<li><a href="#" th:href="@{/login}" id="menu2">ログイン</a></li>
   			 			<li><a href="#" th:href="@{/teacher}" id="menu3">スタッフ紹介</a></li>
   			 			<li><a href="#" th:href="@{/top}" id="menu4">フォトギャラリー</a></li>
   						<li><a href="#" th:href="@{/syumoku}" id="menu5">種目紹介</a></li>
   						<li><a href="#" th:href="@{/access}" id="menu6">アクセス</a></li>
    					<li><a href="#" th:href="@{/contact}" id="menu7">お問い合わせ</a></li>
					</ul>
				</div>
			</div>
			<div id="footpath"></div>
			<div id="contents">
				<div id="top_contents">
					<div id="sub_module1">
					<div id="contents1000444">
						<div class="topics_detail module"></div>
					</div>
					</div>
				</div>
				<div id="wrap_contents" class="clearFix">
					<div id="main_contents">
						<div id="sub_module3"></div>
						<div id="main_module">
						<div id="contents26"></div>
						</div>
						<div id="sub_module4">
							<div id="contents1000179">
								<div class="topics_list module">
									<div class="tbox">
										<div class="tbox_box" id="tbox53">
											<div class="h3out mT30 clearfix">
											<div class="h3in clearfix">
											<div class="tbox_side_out clearfix">
												<div class="tbox_side_txt ovh">
													<div class="clearfix">
														<div id="nicknameDialog" title="入力ミスがあります" style="display:none;"><p>ニックネームを入力してください</p></div>
														<div id="nameDialog" title="入力ミスがあります" style="display:none;"><p>名前を入力してください</p></div>
														<div id="kanaDialog" title="入力ミスがあります" style="display:none;"><p>名前(カナ)を入力してください</p></div>
														<div id="passDialog" title="入力ミスがあります" style="display:none;"><p>パスワードを入力してください</p></div>
														<div id="mailDialog" title="入力ミスがあります" style="display:none;"><p>メールアドレスを入力してください</p></div>
														<div id="ynumDialog" title="入力ミスがあります" style="display:none;"><p>郵便番号を入力してください</p></div>
														<div id="addressDialog" title="入力ミスがあります" style="display:none;"><p>丁目・番地を入力してください</p></div>
														<div id="phoneDialog" title="入力ミスがあります" style="display:none;"><p>電話番号を入力してください</p></div>
														<div id="passConfirm" title="入力ミスがあります" style="display:none;"><p>パスワードが一致しません</p>
															<form><input type="submit" value="閉じる" id="passFail"></form></div>
														<div id="ynumChara" title="入力ミスがあります" style="display:none;"><p>郵便番号は半角数字で入力してください</p></div>
														<div id="mailChara" title="入力が正しくありません" style="display:none;"><p>不正な文字が使用されています</p></div>
														<div id="phoneChara" title="入力が正しくありません" style="display:none;"><p>不正な文字が使用されています</p></div>
														<h2>会員登録フォーム</h2>
														<form method="POST" action="newuser">
														<table class="des">
															<tr><th>入力項目</th><th>入力フォーム</th></tr>
															<tr><td>ニックネーム</td><td><input type="text" name="nickname" id="nickname" /></td></tr>
															<tr>
																<td>お名前</td>
																<td>
																	姓<br><input type="text" name="name" id="name" /><br><br>
																	名<br><input type="text" name="name2" id="name2"/>
																</td>
															</tr>
															<tr>
																<td>お名前(カナ)</td>
																<td>姓(カナ)<br><input type="text" name="kana" id="kana" /><br><br>
																	名(カナ)<br><input type="text" name="kana2" id="kana2"/>
																</td>
															</tr>
															<tr><td>性別</td><td><input type="radio" name="sex" value="0" checked>男性　<input type="radio" name="sex" value="1">女性</td></tr>
															<tr><td>パスワード</td><td><input type="password" name="pass" id="pass" /></td></tr>
															<tr><td>パスワード再入力</td><td><input type="password" name="rePass" id="rePass" /></td></tr>
															<tr><td>メールアドレス</td><td><input type="text" name="mail" id="mail" th:value="${session.mailaddress}" readonly/></td></tr>
															<tr><td>郵便番号</td><td><input type="number" name="ynum" id="ynum" size="10" placeholder="ハイフンなしで入力"
																							onkeyup="AjaxZip3.zip2addr(this,'','address','address');" /></td></tr>
															<tr><td>市区町村</td><td><input type="text" name="address" size="30" readonly></td></tr>
															<tr><td>番地・建物名など</td><td><input type="text" name="address2" id="address2" size="30"></td></tr>
															<tr><td>電話番号</td><td><input type="tel" name="phone" id="phone" placeholder="090-1111-2222" /></td></tr>
															<tr><td>メールマガジン</td><td><input type="checkbox" name="maga" value="1" />受け取る</td></tr>
															<tr><td>興味のある種目</td>
																<td><select name="event">
																		<option value="0">Chachacha-チャチャチャ</option>
																		<option value="1">Samba-サンバ</option>
																		<option value="2">Rumba-ルンバ</option>
																		<option value="3">Paso Doble-パソ ドブレ</option>
																		<option value="4">Jive-ジャイブ</option>
																	</select>
																</td>
															</tr>
															<tr><td>一言お願いします<br>(任意)</td><td><textarea rows="6" cols="40" name="etc"></textarea></td></tr>
															<tr><td colspan="2"><input type="submit" name="form" value="登録する" /></td></tr>
														</table>
														</form>
													</div>
												</div>
											</div></div></div>
											<div class="tbox_side_out clearfix">
												<div class="tbox_side_txt ovh">
													<div class="clearfix">
														<!-- PICK UP -->
														<div class="top_pick-up">
															<h2>
																<img alt="PICK UP"src="image/top_title02.png?v=1460949040"style="width: 695px; height: 40px;">
															</h2>
															<div class="box2 center">
																<p>
																	<a href="#" th:href="@{/price}">
																	<img alt="料金案内"src="image/201607151534_1.png"style="width: 225px; height: 226px;"></a>
																</p>
															</div>
															<div class="box2 center">
																<p>
																	<a href="#" th:href="@{/teacher}">
																	<img alt="スタッフ紹介"src="image/201605121931_1.png"style="width: 225px; height: 226px;"></a>
																</p>
															</div>
															<div class="box2 center last">
																<p>
																	<a href="#" th:href="@{/top}">
																	<img alt="フォトギャラリー？"src="image/201702041548_1.jpg"style="width: 225px; height: 226px;"></a>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<p class="page_links"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="side_contents_left">
						<div id="sub_module2">
							<div id="contents1000027">
								<div class="topics_list module"></div>
							</div>
							<div id="contents1000111">
								<div class="topics_list module">
									<h3>
										<img src="image/side_title_news.png" alt="NEWS" width="220"
											height="50" />
									</h3>
									<div class="module_contents mainbox01">
										<ul>
											<li><a href="#" th:href="@{/top}">夏季休業のお知らせ。</a></li>
											<li><a href="#" th:href="@{/top}">Ａ級戦で２位・Ｂ級戦で優勝！！</a></li>
											<li><a href="#" th:href="@{/top}">初心者の体験レッスン</a></li>
											<li><a href="#" th:href="@{/top}">初心者のＱ＆Ａ</a></li>
											<li><a href="#" th:href="@{/top}">レッスン料金のご案内</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div id="contents1000110">
								<div class="topics_list module">
									<div id="side_68">
										<h3>
											<img alt="MENU" height="50"src="image/side_title_menu.png"width="220">
										</h3>
										<ul>
											<li><a href="#" th:href="@{/top}" id="home">ホーム</a></li>
   											<li><a href="#" th:href="@{/newuser}" id="menu1">新規登録</a></li>
    										<li><a href="#" th:href="@{/login}" id="menu2">ログイン</a></li>
   			 								<li><a href="#" th:href="@{/teacher}" id="menu3">スタッフ紹介</a></li>
   			 								<li><a href="#" th:href="@{/top}" id="menu4">フォトギャラリー</a></li>
   											<li><a href="#" th:href="@{/syumoku}" id="menu5">種目紹介</a></li>
   											<li><a href="#" th:href="@{/access}" id="menu6">アクセス</a></li>
    										<li><a href="#" th:href="@{/contact}" id="menu7">お問い合わせ</a></li>
										</ul>
										<div class="side_banner_list">
											<div class="side_banner_box">
												<a href="#" th:href="@{/syumoku}"><img src="image/68_ext_02_1.png"alt="種目紹介"> </a>
											</div>
											<div class="side_banner_box">
												<a href="https://www.kentdance.co.jp/"><img src="image/68_ext_02_0.jpg" alt="Kent Dance"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="sub_module5"></div>
						<div id="sub_module7"></div>
					</div>
				</div>
				<div id="bottom_contents">
					<div id="sub_module6"></div>
				</div>
			</div>
			<div id="footer">
				<div id="footer_contents">
					<div class="inner cf">
						<div class="info">
							<strong><a href="#" th:href="@{/top}">
									<img src="image/1-1.png"alt="Riccardo and Yuliaダンススクール" width="391" height="80" /></a></strong>
							<p>
								東京都墨田区江東橋2-8-1　ワコーレ錦糸町1階<br />Tel.03-6659-5426
							</p>
						</div>
						<ul>
							<li><a href="#" th:href="@{/top}" id="home">ホーム</a></li>
   							<li><a href="#" th:href="@{/newuser}" id="menu1">新規登録</a></li>
    						<li><a href="#" th:href="@{/login}" id="menu2">ログイン</a></li>
   			 				<li><a href="#" th:href="@{/teacher}" id="menu3">スタッフ紹介</a></li>
   			 				<li><a href="#" th:href="@{/top}" id="menu4">フォトギャラリー</a></li>
   							<li><a href="#" th:href="@{/syumoku}" id="menu5">種目紹介</a></li>
   							<li><a href="#" th:href="@{/access}" id="menu6">アクセス</a></li>
    						<li><a href="#" th:href="@{/contact}" id="menu7">お問い合わせ</a></li>
						</ul>
					</div>
					<address>
						Copyright&copy; 2018 Riccardo and Yuliaダンススクール All Rights Reserved.
						<span class="rcms">managed by
						<a href="http://www.r-cms.jp/" rel="nofollow">RCMS</a></span>
					</address>
				</div>
			</div>
		</div>
	</div>
</div>
<h1>みなさまの感想</h1>
<textarea rows="7" cols="80" readonly style="font-size:150%;">
<th:block th:each="t:${tweetList}">
	<th:block th:text="${t.nickname}"/>：<th:block th:text="${t.tweet}"/>
</th:block>
</textarea><br>
</body>
</html>