<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約確認</title>
</head>
<body>
<div align="center">
<h1>予約確認</h1>
<p>以下の日時で予約します</p><br>
<table border="1">
	<tr><th>先生</th><th>日付</th><th>時間</th></tr>
	<tr><td th:text="${session.teacher.name}">先生</td>
		<td th:text="${reserve.date}">日付</td>
		<td th:text="${reserve.time}">時間</td></tr>
</table>
<form action="result">
<input type="hidden" name="userId" th:value="${reserve.userId}"/>
<input type="hidden" name="coupleId" th:value="${reserve.couples.id}"/>
<input type="hidden" name="date" th:value="${reserve.date}"/>
<input type="hidden" name="time" th:value="${reserve.time}"/>
<input type="submit" value="予約する">
</form>
<br>
<a href="calendar" th:href="@{calendar(whoReserve=${reserve.couples.id})}">戻る</a>
</div>
</body>
</html>