<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>キャンセル確認</title>
</head>
<body>
<div align="center">
<h1>キャンセル確認画面</h1>
<p>以下の予約をキャンセルします</p>
<table border="1">
	<tr><th>先生</th><th>日付</th><th>時間</th></tr>
	<tr th:object="${cancel}">
		<td th:text="*{couple}">〇〇組</td>
		<td th:text="*{date}">2018-xx-yy</td>
		<td th:text="*{time}">12:00</td>
</table>
<form action="cancelresult">
<input type="submit" value="キャンセルする">
<input type="hidden" name="id" th:value="${cancel.id }"/>
</form><br><br>
<form action="cancel">
<input type="submit" value="戻る">
</form>
</div>
</body>
</html>