<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約が完了しました</title>
</head>
<body>
<div align="center">
<h1>予約が完了しました</h1>
<br>
<form action="#" th:action="@{/reserve/teacher}">
<input type="submit" value="続けて予約する">
</form>
<form action="#" th:action="@{/reserve/all}">
<input type="submit" value="予約一覧へ">
</form>
<a href="http://localhost:8090/dance/main" th:href="@{/main}">トップページへ</a>
</div>
</body>
</html>