<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約のキャンセルに失敗しました</title>
</head>
<body>
<div align="center">
<h1>予約のキャンセルに失敗しました</h1>
<p>もう一度やり直してください</p><br>
<a href="reserve/all" th:href="@{/reserve/all}">予約一覧へ</a>
</div>
</body>
</html>