<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約をキャンセルしました</title>
</head>
<body>
<div align="center">
<h1>予約をキャンセルしました</h1>
<p>キャンセルに関するメールが届きます。<br>ご確認ください。</p>
<form action="all" th:action="all">
<input type="submit"value="予約一覧へ">
</form><br><br>
<a href="http://localhost:8090/dance/main" th:href="@{/main}">トップページへ</a>
</div>
</body>
</html>