<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約に失敗しました</title>
</head>
<body>
<div align="center">
<h1>予約に失敗しました</h1>
<p>もう一度やり直してください</p><br><br>
<a href="reserve/teacher" th:href="@{/reserve/teacher}">先生選択へ</a><br><br>
<a href="top" th:href="@{/main}">トップページへ</a>
</div>
</body>
</html>