<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="css//company.css?v=1371101292" th:href="@{/css/company.css}" rel="stylesheet" type="text/css" media="all" />
<link href="css//main.css?v=1456897137" th:href="@{/css/main.css}" rel="stylesheet" type="text/css" media="all" />
<link href="css//config.css?v=1521779237" th:href="@{/css/config.css}" rel="stylesheet" type="text/css" media="all" />
<link href="css//container.css?v=1454638930" th:href="@{/css/container.css}" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/start/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script th:attr="src=@{js/jquery-1.7.2.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:attr="src=@{/js/ajaxzip3.js}"></script>
<script type="text/javascript" th:attr="src=@{/js/formCheck.js}"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<title>Riccardo Cocchiダンス教室</title>
</head>
<body>
<div id="top" class="wrapper1">
	<div id="main_module_id_10" class="wrapper2">
		<div id="container">
			<div id="header">
				<div id="header_contents">
				<div class="inner">
					<h1>Riccardo and Yuliaダンス教室へようこそ！ここでは幅広い年代の方が、楽しく日々ダンスをしています。生徒さん大募集中！！</h1>
					<h2><a href="#" th:href="@{/top}"><img src="image/1-1.png" alt="Riccardo and Yulia" width="482" height="70" /></a></h2>
					<p class="info"><img src="image/hd_info.png" alt="電話番号とか" width="260" height="70" /></p>
				</div>
				</div>
			</div>
			<div id="navi">
				<div class="navi module">
					<ul id="mainnav" class="nav">
						<li><a href="#" th:href="@{/top}" id="home">ホーム</a></li>
						<li><a href="#" th:href="@{/newuser}" id="menu1">新規登録</a></li>
						<li><a href="#" th:href="@{/login}" id="menu2">ログイン</a></li>
						<li><a href="#" th:href="@{/teacher}" id="menu3">スタッフ紹介</a></li>
						<li><a href="#" th:href="@{/top}" id="menu4">フォトギャラリー</a></li>
						<li><a href="#" th:href="@{/syumoku}" id="menu5">種目紹介</a></li>
						<li><a href="#" th:href="@{/access}" id="menu6">アクセス</a></li>
						<li><a href="#" th:href="@{/contact}" id="menu7">お問い合わせ</a></li>
					</ul>
				</div>
			</div>
			<div id="footpath"></div>
			<div id="contents">
				<div id="top_contents">
					<div id="sub_module1">
					<div id="contents1000444">
						<div class="topics_detail module"></div>
					</div>
					</div>
				</div>
				<div id="wrap_contents" class="clearFix">
					<div id="main_contents">
						<div id="sub_module3"></div>
						<div id="main_module">
						<div id="contents26"></div>
						</div>
						<div id="sub_module4">
							<div id="contents1000179">
								<div class="topics_list module">
									<div class="tbox">
										<div class="tbox_box" id="tbox53">
											<div class="h3out mT30 clearfix">
											<div class="h3in clearfix">
											<div class="tbox_side_out clearfix">
												<div class="tbox_side_txt ovh">
													<div class="clearfix">
														<h2>スタンダード部門</h2>
														<table class="des">
															<tbody>
															<tr><th>種目名</th><th>特徴</th></tr>
															<tr><td>Waltz<br>ワルツ</td><td>3拍子のリズム。<br>代表的なスイングダンス</td>
															<tr><td>Tango<br>タンゴ</td><td>2拍子のリズム。<br>かなり体のキレが要求される</td>
															<tr><td>Slow Foxtrot<br>スローフォックストロット</td><td>4拍子のリズム。<br>流れるように踊っていく</td>
															<tr><td>Quick Step<br>クイックステップ</td><td>4拍子のリズム。<br>曲調はやめ。ホップステップジャンプ的な</td>
															<tr><td>Viennese Waltz<br>ヴェニーズワルツ</td><td>3拍子のリズム。<br>ワルツより3倍くらい速い。</td>
															</tbody>
														</table><br><br>
														<h2>ラテンアメリカン部門</h2>
														<table class="des">
															<tbody>
															<tr><th>種目名</th><th>特徴</th></tr>
															<tr><td>Chachacha<br>チャチャチャ</td><td>4拍子のリズム。<br>洋楽でテンション上がる曲は基本これにあたる。</td>
															<tr><td>Samba<br>サンバ</td><td>8拍子のリズム。<br>みなさんが想像する通りの曲調です。</td>
															<tr><td>Rumba<br>ルンバ</td><td>4拍子のリズム。<br>ゆったりとした曲調。バラード系？</td>
															<tr><td>Paso Doble<br>パソ　ドブレ</td><td>8拍子のリズム。<br>曲は1パターンのみ。闘牛士と牛を表現する。</td>
															<tr><td>Jive<br>ジャイブ</td><td>8拍子のリズム。<br>最もテンポが速い。ノリノリ。</td>
															</tbody>
														</table>
													</div>
												</div>
											</div></div></div>
											<div class="tbox_side_out clearfix">
												<div class="tbox_side_txt ovh">
													<div class="clearfix">
														<!-- PICK UP -->
														<div class="top_pick-up">
															<h2>
																<img alt="PICK UP"src="image/top_title02.png?v=1460949040"style="width: 695px; height: 40px;">
															</h2>
															<div class="box2 center">
																<p>
																	<a href="#" th:href="@{/price}">
																	<img alt="料金案内"src="image/201607151534_1.png"style="width: 225px; height: 226px;"></a>
																</p>
															</div>
															<div class="box2 center">
																<p>
																	<a href="#" th:href="@{/teacher}">
																	<img alt="スタッフ紹介"src="image/201605121931_1.png"style="width: 225px; height: 226px;"></a>
																</p>
															</div>
															<div class="box2 center last">
																<p>
																	<a href="#" th:href="@{/top}">
																	<img alt="フォトギャラリー？"src="image/201702041548_1.jpg"style="width: 225px; height: 226px;"></a>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<p class="page_links"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="side_contents_left">
						<div id="sub_module2">
							<div id="contents1000027">
								<div class="topics_list module"></div>
							</div>
							<div id="contents1000111">
								<div class="topics_list module">
									<h3>
										<img src="image/side_title_news.png" alt="NEWS" width="220"
											height="50" />
									</h3>
									<div class="module_contents mainbox01">
										<ul>
											<li><a href="#" th:href="@{/top}">夏季休業のお知らせ。</a></li>
											<li><a href="#" th:href="@{/top}">Ａ級戦で２位・Ｂ級戦で優勝！！</a></li>
											<li><a href="#" th:href="@{/top}">初心者の体験レッスン</a></li>
											<li><a href="#" th:href="@{/top}">初心者のＱ＆Ａ</a></li>
											<li><a href="#" th:href="@{/top}">レッスン料金のご案内</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div id="contents1000110">
								<div class="topics_list module">
									<div id="side_68">
										<h3>
											<img alt="MENU" height="50"src="image/side_title_menu.png"width="220">
										</h3>
										<ul>
											<li><a href="#" th:href="@{/top}" id="home">ホーム</a></li>
											<li><a href="#" th:href="@{/newuser}" id="menu1">新規登録</a></li>
											<li><a href="#" th:href="@{/login}" id="menu2">ログイン</a></li>
											<li><a href="#" th:href="@{/teacher}" id="menu3">スタッフ紹介</a></li>
											<li><a href="#" th:href="@{/top}" id="menu4">フォトギャラリー</a></li>
											<li><a href="#" th:href="@{/syumoku}" id="menu5">種目紹介</a></li>
											<li><a href="#" th:href="@{/access}" id="menu6">アクセス</a></li>
											<li><a href="#" th:href="@{/contact}" id="menu7">お問い合わせ</a></li>
										</ul>
										<div class="side_banner_list">
											<div class="side_banner_box">
												<a href="#" th:href="@{/syumoku}"><img src="image/68_ext_02_1.png"alt="種目紹介"> </a>
											</div>
											<div class="side_banner_box">
												<a href="https://www.kentdance.co.jp/"><img src="image/68_ext_02_0.jpg" alt="Kent Dance"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="sub_module5"></div>
						<div id="sub_module7"></div>
					</div>
				</div>
				<div id="bottom_contents">
					<div id="sub_module6"></div>
				</div>
			</div>
			<div id="footer">
				<div id="footer_contents">
					<div class="inner cf">
						<div class="info">
							<strong><a href="#" th:href="@{/top}">
									<img src="image/1-1.png"alt="Riccardo and Yuliaダンススクール" width="391" height="80" /></a></strong>
							<p>
								東京都墨田区江東橋2-8-1　ワコーレ錦糸町1階<br />Tel.03-6659-5426
							</p>
						</div>
						<ul>
							<li><a href="#" th:href="@{/top}" id="home">ホーム</a></li>
							<li><a href="#" th:href="@{/newuser}" id="menu1">新規登録</a></li>
							<li><a href="#" th:href="@{/login}" id="menu2">ログイン</a></li>
							<li><a href="#" th:href="@{/teacher}" id="menu3">スタッフ紹介</a></li>
							<li><a href="#" th:href="@{/top}" id="menu4">フォトギャラリー</a></li>
							<li><a href="#" th:href="@{/syumoku}" id="menu5">種目紹介</a></li>
							<li><a href="#" th:href="@{/access}" id="menu6">アクセス</a></li>
							<li><a href="#" th:href="@{/contact}" id="menu7">お問い合わせ</a></li>
						</ul>
					</div>
					<address>
						Copyright&copy; 2018 Riccardo and Yuliaダンススクール All Rights Reserved.
						<span class="rcms">managed by
						<a href="http://www.r-cms.jp/" rel="nofollow">RCMS</a></span>
					</address>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>